<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<link href="/favicon.ico" rel="shortcut icon">
<title>数据库连接失败</title>
<style type="text/css">
.caption{
  padding: 100px 0 50px;
  font-family: "Microsoft Yahei";
  text-align: center;
}
.caption h1{
  font-size: 34px;
}
.caption p{
  font-size: 14px;
  color: #aaa;
}
.main {
	max-width: 500px;
	height: 280px;
	background: url("/images/cannt_connect_mongodb.jpg") no-repeat center center;
	margin: auto;
}
</style>
</head>

<body>
<div class="caption">
  <h1>谁偷吃了我的芒果？</h1>
  <p>mongoDB连接失效，请联系小剧检查配置，谢谢！</p>
</div>
<div class="main">
</div>
</body>
</html>
