<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>${title}</title>
<meta name="keywords" content="${keywords}" />
<meta name="description" content="${description}" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<link href="/favicon.ico" rel="shortcut icon"/>
<link rel="apple-touch-icon" href="touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
<link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-retina.png" />
<link rel="apple-touch-icon" sizes="144x144" href="touch-icon-ipad-retina.png" />
<link rel="stylesheet" type="text/css" href="${frontEnd_base}public/css/common.css"/>
<link rel="stylesheet" type="text/css" href="${frontEnd_base}public/css/main.css"/>
</head>
<body>
	<div class="gallayer">
		<div class="galBj"></div>
		<div class="galMask"></div>
	</div>
	<div class="contlayer"></div>
	<div class="sourceCode">{{{indexMain}}}</div>
{{{navigation}}}
<script type="text/javascript" src="${frontEnd_base}jquery.js"></script>
<script type="text/javascript" src="${frontEnd_base}lib/sea.js"></script>
<script type="text/javascript">
	var app_config = {
		'frontEnd_base' : '${frontEnd_base}',
		'imgDomain' : '${img_domain}'
	};
	seajs.config({
	  'base' : '${frontEnd_base}'
	});
</script>
<script type="text/javascript" src="${frontEnd_base}public/app.js"></script>
{{{baiduAndGoogleTongji}}}
</body>
</html>