<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>${{title}}_小剧客栈</title>
        <meta name="keywords" content="${{keywords}}" />
        <meta name="description" content="${{description}}" />
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
        <include name="favicon_appicon" />
        <link rel="stylesheet" type="text/css" href="${{frontEnd_base}}public/css/main.css?v=${{frontEnd_version}}"/>
    </head>
    <body>
<include name="navigation"/>
<div class="app_container"></div>
<div class="app_mask">
    <div class="app_mask_cnt">
        <span class="l-loading"></span>
        <p>小剧正在拼命加载资源</p>
    </div>
</div>
<include name="footer"/>
<script type="text/template" id="module_latest_comments">
<div class="side_card">
<div class="caption"><strong>最新评论</strong><small>整点更新</small></div>
<div class="content">
{{@each commentList as it,index}}
<a href="${{it.url}}" class="side-comments-item" lofox="true">
    <div class="cover">
        <img class="media-object" src="{{@if it.user.avatar}}${{it.user.avatar}}{{@else}}http://layasset.qiniudn.com/user/default.jpg{{@/if}}" />
    </div>
    <div class="main">
        <h4>
            ${{it.user.username}}
            <small>${{it.time}}</small>
        </h4>
        <p>$${{it.content}}</p>
    </div>
</a>
{{@/each}}
</div>
</div>
</script>
<script type="text/template" id="module_github_links">
<div class="side_card side-github">
    <header>
        <div class="logo"><i class="l-icon l-icon-git"></i></div>
        <div class="avatar">
            <img src="/frontEnd/develop/public/images/my-avatar.jpg"/>
        </div>
    </header>
    <div class="main">
        <h3>剧中人在Github</h3>
        <p><a target="_blank" href="/topic/aboutme/index.html" class="btn focusme"><i class="l-icon l-icon-person"></i>Follow me</a></p>
    </div>
    <div class="count">
        <a href="#">
            <strong>84</strong>
            <span>Followers</span>
        </a>
        <a href="#">
            <strong>66</strong>
            <span>Starred</span>
        </a>
        <a href="#">
            <strong>28</strong>
            <span>Following</span>
        </a>
    </div>
</div>
</script>
<script type="text/javascript" src="${{frontEnd_base}}lib/sea.js"></script>
<script type="text/javascript">
    var app_config = {
        'frontEnd_base' : '${{frontEnd_base}}',
        'frontEnd_version' : '${{frontEnd_version}}',
        'imgDomain' : '${{img_domain}}'
    };
    seajs.config({
        'base' : '${{frontEnd_base}}',
        'map' : [[/^(.*\.(?:css|js))(.*)$/i, '$1?v=${{frontEnd_version}}']]
    });
    seajs.use("public/app.js");
</script>
<include name="baiduAndGoogleTongji"/>
</body>
</html>