<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<link href="/favicon.ico" rel="shortcut icon">
<meta name="Keywords" content="404错误网页" />
<meta name="description" content="您所访问的网页不存在或已被删除" />
<title>404-未找到指定资源</title>
<style type="text/css">
.main {
	width: 500px;
	height: 280px;
	background: url("/images/404.png") no-repeat;
	font-family:'Microsoft Yahei';
	text-align: center;
	margin: 100px auto 0px auto;
	padding: 110px 0px 0px 400px;
}
.main p{color: #ccc;font-size: 14px;}
.main h3{color: #888;font-size: 16px;font-weight: normal;}
.main a {text-decoration: none;color: #f60;}
.main a:hover {color: #d30;}
</style>
</head>

<body>
<div class="main">
  <p>您所访问的网页不存在或已被删除</p>
  <h3>$[[content]]</h3>
  <h2><a href="http://bh-lay.com">返回首页</a></h2>
</div>
</body>
</html>
