<div class="side_card side-github">
  <header>
    <div class="logo"><i class="l-icon l-icon-git"></i></div>
    <div class="avatar">
      <img src="//avatars1.githubusercontent.com/u/4100462?v=4"/>
    </div>
  </header>
  <div class="main">
    <h3>剧中人在Github</h3>
    <p><a href="https://github.com/bh-lay" class="btn focusme"><i class="l-icon l-icon-person"></i>Follow me</a></p>
  </div>
  <div class="count">
    <a href="https://github.com/bh-lay">
      <strong>>>followers<<</strong>
      <span>Followers</span>
    </a>
    <a href="https://github.com/bh-lay">
      <strong>>>public_repos<<</strong>
      <span>Repos</span>
    </a>
    <a href="https://github.com/bh-lay">
      <strong>>>following<<</strong>
      <span>Following</span>
    </a>
  </div>
</div>