$navigation-height: 56px;

$max-mobile-width: 600px;
$pad-landscape-width: 768px;
// ⬆️ moble
// ⬇️ laptop
$pad-portrait-width: 1024px;

$laptop-small-width: 1100px;
$laptop-normal-width: 1280px;
$laptop-big-width: 1300px;

