/**
 * 代码高亮
 */
pre code {
  display: block;
  max-height: 20em;
  padding: 0.5em;
  color: #ddd;
  border: none;
  margin: 0;
  border-radius: 0;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background: #333;
  overflow: auto;
}

.highlight-wrapper {
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
  background: #eef1f7;

  .highlight-show-more {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    background: linear-gradient(0deg, #eef1f7, transparent);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #586774;
    transition: 0.2s;

    &:hover {
      background: linear-gradient(0deg, #cfd5e3, transparent);
    }
  }
}

.highlight-lang {
  height: 24px;
  padding: 0 10px;
  line-height: 24px;
  text-align: right;
  font-size: 12px;
  color: #a3adc2;
}

.highlight {
  counter-reset: section 0;
  padding-bottom: 1em;
  overflow: auto;

  .code-line {
    position: relative;
    counter-increment: section;
    padding: 6px 10px 6px 3em;
    min-height: 1em;
    line-height: 1em;
    word-break: normal;
    white-space: pre;
    font-family: monospace;
    color: #414c58;

    &:before {
      content: counter(section);
      display: block;
      position: absolute;
      margin-left: -2em;
      color: #a6aebf;
    }

    &:hover {
      background: #d7dce4;
    }
  }

  &.javascript {
    .comment {
      color: #969896;
    }

    .string {
      color: #183691;
    }

    .global,
    .number {
      color: #0086b3;
    }

    .keywords {
      color: #a71d5d;
    }

    .regex {
      color: #009a1a;
    }
  }

  &.html {
    .comment {
      color: #999988;
      font-style: italic;
    }

    .doctype {
      color: #008080;
    }

    .tag {
      color: #881280;
    }

    .attribute {
      color: #008080;
    }

    .data {
      color: #d14;
    }

    .string {
      color: #888;
    }
  }

  &.css {
    .comment {
      color: #008000;
    }

    .properties {
      color: #008080;
    }

    .selectors {
      color: #800000;
    }

    .units {
      color: #f00;
    }

    .urls {
      color: #f0f;
    }

    .colors {
      color: #808000;
    }

    .important {
      color: #00f;
    }
  }
}

