{@each list as it}<div class="articleItem" articleId="${it.id}">
	<div class="artItCnt">
		{@if it.cover}
		<div class="artItPic">
			<a href="/blog/${it.id}" title="${it.title}" lofox="true" target="_self" >
				<img src="${it.cover}" alt="${it.title}" />
			</a>
		</div>
		{@/if}
		<div class="artItCpt">
			<a href="/blog/${it.id}" title="${it.title}" lofox="true" target="_self" >
				${it.title}
			</a>
		</div>
		<div class="artItInfo"><p>${it.intro}</p></div>
		<div class="artItTime">${it.time_show}</div>
	</div>
</div>{@/each}