<div class="side_card side-github">
    <header>
        <div class="logo"><i class="l-icon l-icon-git"></i></div>
        <div class="avatar">
            <img src="/frontEnd/develop/public/images/my-avatar.jpg"/>
        </div>
    </header>
    <div class="main">
        <h3>剧中人在Github</h3>
        <p><a href="https://github.com/bh-lay" class="btn focusme"><i class="l-icon l-icon-person"></i>Follow me</a></p>
    </div>
    <div class="count">
        <a href="https://github.com/bh-lay">
            <strong>180</strong>
            <span>Followers</span>
        </a>
        <a href="https://github.com/bh-lay">
            <strong>86</strong>
            <span>Starred</span>
        </a>
        <a href="https://github.com/bh-lay">
            <strong>50</strong>
            <span>Following</span>
        </a>
    </div>
</div>