{@each list as it}<div class="opus-item">
	<a href="/opus/${it.id}" title="${it.title}" target="_self" lofox="true" class="cover" >
		<img src="${it.cover}?imgView/1/w/100/h/100/85" alt="${it.title}" />
	</a>
	<div class="info">
		<h3><a href="/opus/${it.id}" target="_self" lofox="true" >${it.title}</a></h3>
		<p><strong>开发范围：</strong>
			{@each it.work_range as key }
				<span>${key}</span>
			{@/each}
		</p>
		{@if it.online_url}
			 <p><strong>在线地址：</strong><a href="${it.online_url}">${it.online_url}</a></p>
		{@/if}
	</div>
</div>{@/each}