<nav class="app-nav">
    <div class="nav-mask"></div>
    <div class="nav-body">
        <div class="grid-row">
            <a class="nav-app-name" href="/" data-page="index" title="首页"></a>
            <div class="nav">
                <a href="/blog" data-page="blog">博文</a>
                <a href="/labs" data-page="labs">实验室</a>
                <a href="/720" data-page="720">全景</a>
                <a href="/photography" data-page="photography">摄影</a>
                <a title="给剧中人留言" href="/bless" data-page="bless">留言</a>
            </div>
        </div>
    </div>
    <a class="nav-more-btn" href="javascript:void(0)" title="导航"><i></i><i></i><i></i></a>
</nav>