<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>小剧客栈_掌柜的</title>
<link href="/skin/admin/admin.css" rel=stylesheet>
<script src="/skin/admin/jquery.js" type="text/javascript"></script>
</head>
<body class="articleListPage">
<div class="containter">
	<div class="caption">作品列表</div>
	<div class="addArticle">
		<a target="_self" class="add layBtn" href="../main/opus.html">添加作品</a>
	</div>
	<div class="listSheet">
		<table class="articleList" cellspacing="0">
			<tr><th>作品名</th><th>编辑</th><th>时间</th></tr>
			{content}
		</table>
	</div>
	{pageBar}
</div>

</body>
</html>