lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

.project
npm-debug.log
sys/temporary/cache/
sys/temporary/session/
sys/temporary/upload/
sys/node_modules/
web/frontEnd/build/
web/frontEnd/dist/
web/frontEnd/node_modules/