lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

.project/
.idea/
npm-debug.log
sys/temporary/cache/
sys/temporary/session/
sys/temporary/upload/
sys/node_modules/
web/frontEnd/build/
web/frontEnd/dist/
web/frontEnd/node_modules/
web/asset/
web/topic/nodeJS_base/
web/frontEnd/develop/admin/react-build/.module-cache/