@font-face {
  font-family: "layIcon";
  src: url("layicon-webfont.eot?v=0");
  src: url("layicon-webfont.eot?v=0#iefix") format("embedded-opentype"), url('layicon-webfont.woff?v=0') format('woff'), url("layicon-webfont.ttf?v=0") format("truetype"), url("layicon-webfont.svg?v=0#layicon-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
.layIcon {
  font-family: "layIcon";
  font-style: normal;
}
.l-icon {
  font-family: "layIcon";
  font-style: normal;
}
.l-icon-circle:after {
  content: '\0044';
}
.l-icon-book:after {
  content: '\0045';
}
.l-icon-code:after {
  content: '\0046';
}
.l-icon-beaker:after {
  content: '\0047';
}
.l-icon-share:after {
  content: '\0048';
}
.l-icon-layLogo:after {
  content: '\0049';
}
.l-icon-weibo:after {
  content: '\004a';
}
.l-icon-qq:after {
  content: '\004b';
}
.l-icon-qzone:after {
  content: '\004c';
}
.l-icon-git:after {
  content: '\0054';
}
.l-icon-face:after {
  content: '\0055';
}
.l-icon-back:after {
  content: '\005a';
}
.l-icon-setting:after {
  content: '\0060';
}
.l-icon-person:after {
  content: '\0064';
}
.l-icon-zhihu:after {
  content: '\0069';
}
.l-icon-dribbble:after {
  content: '\006a';
}
.l-icon-link:after {
  content: '\006b';
}
html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Microsoft Yahei";
}
h1,
h2,
h3 {
  margin: 0 0 .5em;
  font-weight: normal;
}
a {
  text-decoration: none;
}
.section {
  font-size: 16px;
  padding: 3em 0;
}
.section h1 {
  font-size: 1.8em;
}
.section h2 {
  font-size: 1.5em;
}
.section p {
  margin: .5em 0;
  line-height: 1.5;
  font-size: 1em;
}
.wrap {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 0px 10px;
  transition: all 0.2s;
}
.wrap:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  overflow: hidden;
}
.half {
  float: left;
  width: 50%;
}
.pull-right {
  float: right;
}
@media all and (max-width: 1000px) {
  .section {
    font-size: 14px;
  }
  .wrap {
    max-width: 500px;
  }
  .half {
    float: none;
    width: auto;
    margin: auto;
  }
}
.btn {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  padding: 0 2em;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: #333;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  background: #fff;
  transition: all 0.08s linear;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background: #f70;
}
.section_loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
}
.section_loading:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.section_loading p {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
#header {
  position: relative;
  padding: 0;
  height: 100%;
  min-height: 600px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background: #057;
  background-image: -moz-linear-gradient(top, #005577, #44aadd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005577), color-stop(1, #44aadd));
}
#header .header_body {
  display: inline-block;
  vertical-align: middle;
}
#header:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
#header:after {
  content: '';
  position: absolute;
  width: 320px;
  height: 15px;
  bottom: 40px;
  margin-left: -160px;
  left: 50%;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.15);
  -webkit-filter: blur(2px);
}
#header p {
  margin-bottom: 1em;
}
#header img {
  width: 300px;
  margin-bottom: 2em;
}
#work {
  height: 50%;
  min-height: 400px;
  padding: 0;
  background: #eee;
  text-align: center;
}
#work .intro {
  display: inline-block;
  vertical-align: middle;
}
#work:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
#design {
  color: #fff;
  background: #689;
}
#design .pic {
  float: left;
  height: 140px;
  background-size: cover;
  background-position: center center;
  outline: 1px solid #fff;
  cursor: pointer;
}
#design .pic20 {
  width: 20%;
}
#design .pic50 {
  width: 50%;
}
#design .pic30 {
  width: 30%;
}
#github {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fafafa;
}
.github-widget-user {
  width: 220px;
  min-height: 100px;
  margin: auto;
}
.github-widget-user p {
  margin: 0;
}
#link {
  text-align: center;
}
.icons {
  padding: 2em 0;
}
.icons a {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  font-size: 36px;
  color: #aaa;
}
.icons a:hover {
  color: #fa0;
}
.icons i {
  display: block;
}
.icons strong {
  display: block;
  font-weight: normal;
  font-size: 16px;
}
#footer {
  background: #341;
  text-align: center;
  font-size: 24px;
  color: #fff;
  opacity: .4;
}
