<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>登陆结果</title>
</head>
<body>
<script type="text/javascript">
	/**统一登录回调函数**/
	var callBackName = 'appLoginCallback';
	var callback = null;
	var from = '$[[from]]';
	var json = $$[[data]];
	
	if(window.opener){
		/** 当前为被打开的页面 **/
		window.opener[callBackName](json);
		window.close();
	}else if(self != top){
		/**当前处在iframe中**/
		top[callBackName](json);
	}else{
		/** 当前为直接跳转的页面 **/
		window.location.href = '/';
	}
</script>
</body>
</html>