body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,tr,td,textarea,input{margin:0px;padding:0px;}
ul li{list-style:none;}
body{font-family: "Microsoft Yahei";FONT-SIZE: 14px;}
textarea,input{font-family:inherit;}
a{COLOR: #666;text-decoration:none;}
a:visited {COLOR: #666 ;}
a:hover {COLOR: #000;}

tr,td{border:0px;}

iframe {border-width: 0px;height:100%;width: 100%;}
body{width: 100%;min-width:360px;}

/*
 *base 
 */
.mt1{margin-top:10px;}
.mt2{margin-top:20px;}
.mt3{margin-top:30px;}
.mt4{margin-top:40px;}
.mt5{margin-top:50px;}
.mt6{margin-top:60px;}

.mainFrame{padding-top:40px;}
.containter{max-width:900px;margin:auto;}
/*面包屑*/
.crumbs{
	background:#eee;
	font-size: 14px;
	height:28px;
	line-height: 28px;
	margin-bottom: 20px;
	text-indent: 1em;
}

/**
 * 基础页面
 */

.userCnt{width:120px;height:40px;float:left;text-align:center;position:relative;background: #777}
.userCnt .username{line-height:40px;color:#fff;font-size:16px;letter-spacing:4px;cursor: pointer;}
.userCnt .username_hover{width:100%;height:100%;position:absolute;top:0px;left:0px;text-align: center;display: none;}
.userCnt .username_hover a{display:block;float:left;width:50%;height:40px;line-height:40px;background: #500;color:#fff;}
.userCnt .username_hover a:hover{background: #700;}


.nav_main{
	position:fixed;
	z-index:1000;
	top:0px;
	right:0px;
	left:0px;
	background-color:#444;
}

.nav_mainList{}
.nav{float:left;}
.nav ul{line-height: 40px;overflow:hidden;}
.nav li{float:left;}
.nav li a{display: block;padding:0px 20px;color : #efe;font-size:16px;}
.nav li a:visited{color:#efe;}
.nav li a:hover{background:#333;color:#fff;}
.nav li a.cur{background:#222;color:#fff;border-left:1px solid #070;border-right:1px solid #0a0;padding:0px 19px;box-shadow: 1px 2px 3px #000 inset;text-shadow: 1px 2px 2px #000;}


.nav_tool{position: absolute;top: 0px;right:10px;}
.nav_moreBtn{
	float:right;
	display:block;
	height:22px;
	padding:7px 10px 0px;
	margin-top:3px;
	border:1px solid #888;
	border-radius: 4px;
	background: rgba(0,0,0,0.6);
}
.nav_moreBtn:hover{background:rgba(0,0,0,0.8);}
.nav_moreBtn:active{background:#000;}
.nav_Btn_ico{
	display:block;
	width: 22px;
	height:2px;border-radius: 1px;background: #fff;
	margin-bottom: 4px;
}
.navItem,
.nav_moreBtn{display: none;}
@media screen and (max-width : 550px){
	.navItem,
	.nav_moreBtn{display: block;}

	.userCnt{background: transparent;}
	.nav_mainList{
		display: none;
		position: fixed;
		top:40px;
		left:0px;
		width: 100%;
		text-align:center;
		background: #444;
		overflow: hidden;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.7)
	}
	.nav_main ul{float: none;margin:0px;}
	.nav_main li{float: none;border:none;width:auto;}
	.nav{float:none;}
	.nav li a{font-size: 14px;}
}
/*navigation*/


/**基础页面**/

/**
 * pageList
 */
.pageList{margin:20px 0px;font-size: 14px;height:30px;border:1px solid #eee;border-width: 1px 0px;overflow: hidden;position:relative;}
.pageList_prev{width:80px;float: left;}
.pageList_next{width:80px;float: left;}
.pageList_main{float: left;}
.pageList_prev *,
.pageList_next *{
	display: block;
	height:30px;
	text-align:center;
	transition: 0.1s;
	line-height:30px;
}
.pageList_main *{
	display: inline-block;
	height:30px;
	background:#fafafa;
	padding:0px 10px;
	transition: 0.1s;
	color:#aaa;
	line-height:30px;
	vertical-align: text-top;
	margin-right:10px;
}
.pageList a{border-color:#ddd;background:#fff;color:#444;}
.pageList a:hover{border-color:#fff;background:#f4f4f4;box-shadow: 0px 0px 6px rgba(0,0,0,0.3);}
.pageList b{
	border-color: #bbb;
	background:#444;
	color:#fff;
	cursor: default;
}
.pageList span{border-color:#eee;background:#fff;color:#999;cursor: default;}
@media screen and (max-width: 550px){
	.pageList{font-size:12px;}
	.pageList_prev{width:50px;}
	.pageList_next{width:50px;float: right;}
	.pageList_main{white-space:nowrap;text-align:center;float: none;position:absolute;left:50px;right:50px;top:0px;overflow-x:auto;}
}

/**
 * 	发布台border:5px solid #ddd;
 */
.publish{overflow: hidden;margin-bottom:20px;background:#f3f3f3;}
.publish_cpt{height:35px;background: #b30;overflow: hidden;}
.publish_cpt a{display:inline-block;padding:0px 15px;height:35px;line-height:35px;font-size:14px;color:#fff;opacity: 0.7;}
.publish_cpt a:hover{background: #d30;opacity: 1;}
.publish_cpt a.active{position:relative;z-index:1; background: #f3f3f3;color:#333;opacity: 1;box-shadow: 0px 0px 15px #000;}
/*博文*/
.pub_article{margin:0px 20px;padding:20px 0px;}
.pub_arti_title{margin-bottom:15px;}
.pub_arti_title input{width:100%;height:34px;line-height:34px;padding:0px; border:none;text-indent:1em;font-size: 14px;}
.pub_arti_intro{margin-bottom:15px;}
.pub_arti_intro textarea{display: block;width:100%;height:90px;padding:0px;border:none;resize: none;top:0px;left:0px;}
.pub_arti_main{margin-bottom:20px;}
.pub_arti_main textarea{display: block;width:100%;height:150px;border:none;resize: none;}
/*分享*/
.pub_share{margin:0px 20px;padding:20px 0px;}
/**
 * 	发布台
 */


/**
 * list table
 */
.listSheet{width:100%;background:#444;border-radius: 8px;overflow: hidden;}
.listSheet table{width:100%;border:none;}
.listSheet tr{cursor:default;}
.listSheet tr:nth-child(2n+1){background: #555;}
.listSheet tr:hover{background: #888;}
.listSheet th{padding:12px 15px;line-height:16px;background: #222;color:#fff;font-size: 18px;font-weight:normal;}
.listSheet th:hover{background: #000}
.listSheet td{padding:12px 15px;color:#ddd;font-size: 14px;line-height:16px;}
.listSheet td:hover{background: #333}
.listSheet a{color:#fff;}
.listSheet a:visited {color:#fff;}
.listSheet a:hover {color:#ccc;text-decoration: underline;}
@media screen and (max-width: 550px){	
	.listSheet{background:#444;border-radius: 0px;}
	.listSheet td{padding:12px 5px;font-size: 12px;line-height:14px;}
}

/*
 * Btn
 */
.layBtn{display:inline-block;width:80px; height:30px;line-height:30px;margin-right:20px;padding:0px 14px;background: #333;color:#fff;text-align: center;border-radius:4px;}
.layBtn:visited{color:#fff;}
.layBtn:hover{background:#666;}


.inputContent{height:30px;line-height:30px;margin-bottom:20px;}
.inputContent label{width:80px;line-height:30px;float:left;text-align: center;font-size:14px;color:#333;}
.inputContent input{width:300px;height:28px;margin:0px;padding:0px;border:1px solid #aaa;text-indent: 1em;font-size:14px;}

/*
 * form UI 
 */
.L_formUI{padding:10px 0px 0px 30px;}
.L_foUCpt{font-size: 18px;padding: 0px 0px 10px 0px;border-bottom: 1px solid #eee;margin-bottom:20px;}
.L_foUItem{padding: 0px 0px 20px 0px;overflow: hidden;zoom: 1;}
.L_foUItTitle{width:100px; display:block;float: left;}




/**
 * page B 
 *  articlelist page
 */
.articleListPage{padding:50px 0px;}
.addArticle {height:40px;margin:0px 10px 20px;}
.addArticle .articleType{float:left;height:30px;line-height: 30px;}
.addArticle .layBtn{float:right;}


.arLiTitle{}
.arLiEdit {}
.arLiEdit {text-align:center;}
.arLiEdit a {padding:0px 10px;}
.arLiTime{font-size: 12px;color:#888;width:6em;}

/*用户列表*/

.L_userList li span{width: 25%;float: left;text-align: center;}
.L_userList li span a{color:#fff;}

/*权限列表*/
.L_powerList{}
.L_powerList ul {width:880px;margin:auto; border:10px solid #eee;background: #eee;}
.L_powerList ul:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.L_powerList li {float: left;width: 200px;background: #eee;padding:10px;}
.L_powerList li h3{font-weight: normal;}
.L_powerList li h3 i {font-size: 24px;color: #222;}
.L_powerList li h3 span{padding:0px 10px;color:#555; font-size: 18px;}
.L_powerList li p{color:#888;font-size: 14px;}

.L_powerList li:hover {background: #fff;position: relative;box-shadow:1px 1px 5px #aaa;}










