body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,tr,td{margin:0px;padding:0px;}
ul li{list-style:none;}
body{font-family: "Microsoft Yahei";FONT-SIZE: 14px;}

a{COLOR: #666;text-decoration:none;}
a:visited {COLOR: #666 ;}
a:hover {COLOR: #000;}

tr,td{border:0px;}

/*
 *base 
 */
.mt1{margin-top:10px;}
.mt2{margin-top:20px;}
.mt3{margin-top:30px;}
.mt4{margin-top:40px;}
.mt5{margin-top:50px;}
.mt6{margin-top:60px;}

.containter{max-width:960px;padding:0px 10px;margin:auto;}

/**
 * pageList
 */
.pageList{height:30px;margin:20px 0px;}
.pageList a,.pageList b,.pageList span{
	display: inline-block;
	height:28px;
	margin-right:10px;
	border-radius:4px;
	border:1px solid #eee;
	background:#fafafa;
	padding:0px 10px;
	transition: 0.1s;
	color:#aaa;
	line-height:28px;
	font-size: 14px;
}
.pageList a{border-color:#ddd;background:#fff;color:#444;}
.pageList a:hover{border-color:#fff;background:#f4f4f4;box-shadow: 0px 0px 6px #666;}
.pageList b{
	border-color: #bbb;
	background:#444;
	color:#fff;
	cursor: default;
}
.pageList span{border-color:#eee;background:#fff;color:#999;cursor: default;}

/**
 * list table
 */
.listSheet{background: #444;border-radius: 8px;overflow: hidden;}
.listSheet table{width:100%;border:none;}
.listSheet tr{line-height:16px;cursor:default;}
.listSheet tr:nth-child(2n+1){background: #555;}
.listSheet tr:hover{background: #888;}
.listSheet th{padding:12px 15px;background: #222;color:#fff;font-size: 18px;font-weight:normal;}
.listSheet th:hover{background: #000}
.listSheet td{padding:12px 15px;color:#ddd;}
.listSheet td:hover{background: #333}
.listSheet a{color:#fff;}
.listSheet a:visited {color:#fff;}
.listSheet a:hover {color:#ccc;text-decoration: underline;}


/*
 * Btn
 */
.layBtn{display:inline-block;width:80px; height:30px;line-height:30px;margin-right:20px;padding:0px 14px;background: #333;color:#fff;text-align: center;border-radius:4px;}
.layBtn:visited{color:#fff;}
.layBtn:hover{background:#666;}


.inputContent{height:30px;line-height:30px;margin-bottom:20px;}
.inputContent label{width:80px;line-height:30px;float:left;text-align: center;font-size:14px;color:#333;}
.inputContent input{width:300px;height:28px;margin:0px;padding:0px;border:1px solid #aaa;text-indent: 1em;font-size:14px;}

/*
 * form UI 
 */
.L_formUI{padding:10px 0px 0px 30px;}
.L_foUCpt{font-size: 18px;padding: 0px 0px 10px 0px;border-bottom: 1px solid #eee;margin-bottom:20px;}
.L_foUItem{padding: 0px 0px 20px 0px;overflow: hidden;zoom: 1;}
.L_foUItTitle{width:100px; display:block;float: left;}


/**
 * page A 
 *  index page
 */
iframe {border-width: 0px;height:100%;width: 100%;}
html.index_page{position: relative;height:100%;}
body.index_page{overflow-y: hidden;overflow-x:auto; position: relative;width: 100%;min-width:430px;height:100%;}
.mainFrame{position: absolute;top:75px;bottom:0px;left:0px;width: 100%;}

.clear {font-size: 0px; line-height: 0px; clear: both;}
.caption{border-bottom: 1px dotted #333;font-size: 18px;height: 30px;line-height: 30px;margin-bottom: 20px;text-indent: 2em;}

.topNav{width:100%;height:40px;overflow:hidden;background-color:#090;}
.userCnt{width:120px;height:40px;float:left;text-align:center;position:relative;background: #009000}
.userCnt .usernick{line-height:40px;color:#fff;font-size:16px;letter-spacing:4px;}
.userCnt .usernick_hover{width:100%;height:100%;position:absolute;top:0px;left:0px;text-align: center;display: none;}
.userCnt .usernick_hover a{display:block;float:left;width:50%;height:40px;line-height:40px;background: #080;color:#fff;}
.userCnt .usernick_hover a:hover{background: #070;}
.userCnt:hover .usernick_hover{display: block;}

.nav{float:left;}
.nav ul{height:40px;line-height: 40px;}
.nav li{float:left;}
.nav li a{display: block;padding:0px 20px;color : #efe;font-size:16px;}
.nav li a:visited{color:#efe;}
.nav li a:hover{background:#060;color:#fff;}
.nav li a:active{background:#030;color:#fff;}
.nav li a.cur{background:#222;color:#fff;border-left:1px solid #070;border-right:1px solid #0a0;padding:0px 19px;box-shadow: 1px 2px 3px #000 inset;text-shadow: 1px 2px 2px #000;}

.secondNav{height:30px;padding-top:5px;background: #222;}
.navItem {padding-left:80px;}
.navItem a{display: block;height:30px;padding:0px 10px;line-height:30px;float: left;color:#fff;}
.navItem a.cur{background: #fff;color:#333;}


/**
 * page B 
 *  articlelist page
 */
.articleListPage{padding:50px 0px;}
.addArticle {height:40px;margin:0px 10px 20px;}
.addArticle .articleType{float:left;height:30px;line-height: 30px;}
.addArticle .layBtn{float:right;}


.arLiTitle{}
.arLiEdit {}
.arLiEdit {text-align:center;}
.arLiEdit a {padding:0px 10px;}
.arLiTime{font-size: 12px;color:#888;}

/*用户列表*/

.L_userList li span{width: 25%;float: left;text-align: center;}
.L_userList li span a{color:#fff;}

/*权限列表*/
.L_powerList{}
.L_powerList ul {width:880px;margin:auto; border:10px solid #eee;background: #eee;}
.L_powerList ul:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.L_powerList li {float: left;width: 200px;background: #eee;padding:10px;}
.L_powerList li h3{font-weight: normal;}
.L_powerList li h3 i {font-size: 24px;color: #222;}
.L_powerList li h3 span{padding:0px 10px;color:#555; font-size: 18px;}
.L_powerList li p{color:#888;font-size: 14px;}

.L_powerList li:hover {background: #fff;position: relative;box-shadow:1px 1px 5px #aaa;}










