/**
 * 文章模块
 */
.article {
  padding: 20px;
  font-size: 14px;
  font-family: "Microsoft Yahei";
}
.article img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-weight: normal;
  margin: 1.8em 0 0;
}
.article h1 {
  font-size: 2em;
}
.article h2 {
  font-size: 1.7em;
}
.article h3 {
  font-size: 1.4em;
}
.article h4 {
  font-size: 1.25em;
}
.article h5 {
  font-size: 1.1em;
}
.article h6 {
  font-size: 1em;
}
.article small {
  font-size: .8em;
  padding-left: .5em;
  opacity: .7;
}
.article p {
  line-height: 1.8;
  margin: 1em 0;
  font-size: 1em;
  color: #333333;
}
.article ul {
  margin: 1em 0;
  padding-left: 1em;
  list-style-type: disc;
}
.article ul li {
  margin-left: 1em;
  list-style-type: disc;
}
.article ol {
  margin: 1em 0;
  padding-left: 1em;
  list-style-type: decimal;
}
.article ol li {
  margin-left: 1em;
  list-style-type: decimal;
}
.article pre {
  overflow-x: auto;
  font-size: 13px;
  line-height: 1.8;
}
.article code {
  font-family: inherit;
  padding: .2em .4em;
  color: #f70;
  background-color: #eee;
  border-radius: 4px;
}
.article hr {
  height: 1px;
  margin: .6em 0;
  border: none;
  background: #ddd;
}
.article a {
  padding: 0px .5em;
  text-decoration: underline;
}
.article a:hover {
  color: #f70;
  text-decoration: underline;
}
.article *:nth-child(1) {
  margin-top: 1em !important;
}
