body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
img {
  border: none;
}
ul,
ol,
li,
form,
dl {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #f70;
}
TD {
  color: #777;
  font-size: 12px;
  padding: 10px;
}
/**
 * 定义Minxin
 **/
/**
 * 文章模块
 */
.article {
  padding: 20px;
  font-size: 14px;
  font-family: "Microsoft Yahei";
}
.article img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-weight: normal;
  margin: 1.8em 0 0;
}
.article h1 {
  font-size: 2em;
}
.article h2 {
  font-size: 1.7em;
}
.article h3 {
  font-size: 1.4em;
}
.article h4 {
  font-size: 1.25em;
}
.article h5 {
  font-size: 1.1em;
}
.article h6 {
  font-size: 1em;
}
.article small {
  font-size: .8em;
  padding-left: .5em;
  opacity: .7;
}
.article p {
  line-height: 1.8;
  margin: 1em 0;
  font-size: 1em;
  color: #333333;
}
.article ul {
  margin: 1em 0;
  padding-left: 1em;
  list-style-type: disc;
}
.article ul li {
  margin-left: 1em;
  list-style-type: disc;
}
.article ol {
  margin: 1em 0;
  padding-left: 1em;
  list-style-type: decimal;
}
.article ol li {
  margin-left: 1em;
  list-style-type: decimal;
}
.article pre {
  overflow-x: auto;
  font-size: 13px;
  line-height: 1.8;
}
.article code {
  font-family: inherit;
  padding: .2em .4em;
  color: #f70;
  background-color: #eee;
  border-radius: 4px;
}
.article hr {
  height: 1px;
  margin: .6em 0;
  border: none;
  background: #ddd;
}
.article a {
  padding: 0px .5em;
  text-decoration: underline;
}
.article a:hover {
  color: #f70;
  text-decoration: underline;
}
.article *:nth-child(1) {
  margin-top: 1em !important;
}
body {
  font-family: "Microsoft Yahei";
  font-size: 16px;
  background: #333;
}
h1 {
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
}
.wrap {
  max-width: 850px;
  margin: auto;
}
.header {
  padding: 100px 20px 140px;
  text-align: center;
  font-size: 16px;
  color: #333;
  background: #eee;
}
.header h1 {
  margin-bottom: .4em;
  line-height: 1em;
  font-size: 2.2em;
  font-weight: normal;
}
.header p {
  font-size: .75em;
  line-height: 2em;
}
.header div {
  padding-top: 1.5em;
}
.header .backToIndex {
  font-size: 14px;
  padding-left: 20px;
  color: #555;
}
.header .backToIndex:hover {
  color: #333;
  text-decoration: underline;
}
.intro-card {
  max-width: 700px;
  margin: -100px auto -160px;
  padding: 30px;
  background: #fff;
}
.structure {
  width: 100%;
  padding-bottom: 20px;
  overflow: auto;
}
.structure img {
  display: block;
  width: 100%;
  max-width: 1218px;
  min-width: 840px;
  height: 769px;
  margin: auto;
}
.intro-structrue {
  background: #fff;
}
.intro-structrue .article li a {
  opacity: .5;
  font-size: .8em;
}
.intro-structrue .article li a:hover {
  opacity: 1;
}
.btn {
  display: inline-block;
  min-width: 40px;
  height: 32px;
  padding: 0 1em;
  line-height: 33px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  background: #fa7d3c;
  background: -moz-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: -webkit-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: -o-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: -ms-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
  background: linear-gradient(top bottom, #fa7d3c 0%, #f55f10 100%);
  transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -webkit-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  background: #f4722e;
  background: -moz-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: -webkit-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: -o-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: -ms-linear-gradient(top, #f4722e 0%, #f05807 100%);
  background: linear-gradient(top bottom, #f4722e 0%, #f05807 100%);
}
@media screen and (max-width: 1200px) {
  .intro-card {
    margin-bottom: 0;
  }
  .structure img {
    height: 530px;
  }
}
.index-views-intro {
  margin-bottom: 200px;
  padding: 70px 0;
  overflow: auto;
  text-align: center;
  font-size: 16px;
  background: url(wave_cb89b62.gif) #fafafa;
}
.index-views-intro img {
  display: block;
  width: 100%;
  max-width: 740px;
  min-width: 600px;
  margin: auto;
  color: #000;
}
.index-views-intro h1 {
  margin-bottom: .4em;
  font-size: 2em;
  font-weight: normal;
  font-size: 32px;
}
.index-views-intro p {
  line-height: 1.6;
  font-size: .8em;
  color: #000;
}
.index-views-intro p a {
  padding-left: .8em;
  color: #555;
  text-decoration: underline;
}
.index-views-intro p a:hover {
  color: #000;
}
.tongji {
  height: 0;
  overflow: hidden;
}
