@import "_reset.less";
@import "_core.less";
@import "_article.less";

body{
    font-family: "Microsoft Yahei";
    font-size: 16px;
    background: #333;
}
.header{
    padding: 6em 1em;
    text-align: center;
    font-size: 16px;
    background: #eee;
    h1{
        margin-bottom: 1em;
        font-size: 2em;
        font-weight: normal;
        color: #333;
    }
    p{
        font-size: .75em;
        color: #888;
    }
}
.intro{
    max-width: 600px;
    margin: -30px auto 30px;
    padding: 30px;
    background: #fff;
}
.structure{
    overflow: auto;
    embed{
        display: block;
        margin: auto;
    }
}