@charset "UTF-8";
/**
 * 定义Minxin
 **/
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
img {
  border: none;
}
ul,
ol,
li,
form,
dl {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #f70;
}
TD {
  color: #777;
  font-size: 12px;
  padding: 10px;
}
/**
 * 代码高亮
 */
pre.hljs code {
  display: block;
  max-height: 200px;
  padding: 0.5em;
  color: #ddd;
  border: none;
  margin: 0;
  border-radius: 0;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background: #333;
  overflow: auto;
}
.profile .hljs-header *,
.ini .hljs-title,
.nginx .hljs-title {
  color: #ffffff;
}
.hljs-comment {
  color: #666;
}
.hljs-string,
.hljs-symbol,
.diff .hljs-change,
.hljs-regexp,
.xml .hljs-attribute,
.smalltalk .hljs-char,
.xml .hljs-value,
.ini .hljs-value,
.clojure .hljs-attribute,
.coffeescript .hljs-attribute {
  color: #a0c874;
}
.hljs-number {
  color: #66dd00;
}
.hljs-built_in,
.hljs-literal,
.vhdl .hljs-typename,
.go .hljs-constant,
.go .hljs-typename,
.ini .hljs-keyword,
.lua .hljs-title,
.perl .hljs-variable,
.php .hljs-variable,
.mel .hljs-variable,
.django .hljs-variable,
.css .funtion,
.smalltalk .method,
.hljs-hexcolor,
.hljs-important,
.hljs-flow,
.hljs-inheritance,
.parser3 .hljs-variable {
  color: #59B524;
}
.hljs-keyword {
  color: #888;
  font-weight: bold;
}
.hljs-title,
.ruby .hljs-constant,
.vala .hljs-constant,
.hljs-parent,
.hljs-deletion,
.hljs-template_tag,
.css .hljs-keyword,
.objectivec .hljs-class .hljs-id,
.smalltalk .hljs-class,
.lisp .hljs-keyword,
.apache .hljs-tag,
.nginx .hljs-variable,
.hljs-envvar,
.bash .hljs-variable,
.go .hljs-built_in,
.vbscript .hljs-built_in,
.lua .hljs-built_in,
.rsl .hljs-built_in,
.tail,
.avrasm .hljs-label,
.tex .hljs-formula,
.tex .hljs-formula * {
  color: #a0c874;
}
.hljs-yardoctag,
.hljs-phpdoc,
.profile .hljs-header,
.ini .hljs-title,
.apache .hljs-tag,
.parser3 .hljs-title {
  font-weight: bold;
}
.hljs-params {
  color: #666666;
}
/**
 * 文章模块
 */
.article {
  padding: 20px;
  font-family: "Microsoft Yahei";
}
.article img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-weight: normal;
  margin: 1.8em 0 0;
}
.article h1 {
  font-size: 2em;
}
.article h2 {
  font-size: 1.7em;
}
.article h3 {
  font-size: 1.4em;
}
.article h4 {
  font-size: 1.25em;
}
.article h5 {
  font-size: 1.1em;
}
.article h6 {
  font-size: 1em;
}
.article p {
  line-height: 1.8;
  margin: 1em 0;
  font-size: 1em;
  color: #333333;
}
.article blockquote {
  margin: 0 0 1em;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.article ul {
  margin: 1em 0;
  padding-left: 1em;
  list-style: disc;
}
.article ol {
  margin: 1em 0;
  padding-left: 1em;
  list-style: decimal;
}
.article li {
  margin-left: 1em;
  list-style: inherit;
}
.article pre {
  overflow-x: auto;
  font-size: 13px;
  line-height: 1.8;
}
.article code {
  font-family: inherit;
  padding: .2em .4em;
  color: #f70;
  background-color: #eee;
  border-radius: 4px;
}
.article hr {
  height: 1px;
  margin: .6em 0;
  border: none;
  background: #ddd;
}
.article a {
  padding: 0px .5em;
  text-decoration: underline;
}
.article a:hover {
  color: #f70;
  text-decoration: underline;
}
.article > *:nth-child(1) {
  margin-top: 1em !important;
}
@font-face {
  font-family: "layIcon";
  src: url("../fonts/layicon-webfont.eot?v=3");
  src: url("../fonts/layicon-webfont.eot?v=3#iefix") format("embedded-opentype"), url('../fonts/layicon-webfont.woff?v=3') format('woff'), url("../fonts/layicon-webfont.ttf?v=3") format("truetype"), url("../fonts/layicon-webfont.svg?v=3#layicon-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
.layIcon {
  font-family: "layIcon";
  font-style: normal;
}
.l-icon {
  font-family: "layIcon";
  font-style: normal;
}
.l-icon-circle:after {
  content: '\0044';
}
.l-icon-book:after {
  content: '\0045';
}
.l-icon-code:after {
  content: '\0046';
}
.l-icon-beaker:after {
  content: '\0047';
}
.l-icon-envelope:after {
  content: '\0048';
}
.l-icon-layLogo:after {
  content: '\0049';
}
.l-icon-weibo:after {
  content: '\004a';
}
.l-icon-qq:after {
  content: '\004b';
}
.l-icon-qzone:after {
  content: '\004c';
}
.l-icon-git:after {
  content: '\0054';
}
.l-icon-face:after {
  content: '\0055';
}
.l-icon-back:after {
  content: '\005a';
}
.l-icon-setting:after {
  content: '\0060';
}
.l-icon-home:after {
  content: '\0061';
}
.l-icon-person:after {
  content: '\0064';
}
.l-icon-zhihu:after {
  content: '\0069';
}
.l-icon-dribbble:after {
  content: '\006a';
}
.l-icon-link:after {
  content: '\006b';
}
.l-icon-fancyLogo:after {
  content: '\006c';
}
.l-icon-down-double:after {
  content: '\006d';
}
.l-icon-comment:after {
  content: '\006e';
}
/**
 * 卡片类
 */
.cardShadow {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.btn {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  padding: 0 1em;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: #333;
  background: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  transition: all 0.1s linear;
}
.btn:hover {
  color: #333;
  text-decoration: none;
  background: #ddd;
}
.btn.focusme {
  color: #fff;
  background: #f70;
}
.btn.focusme:hover {
  background: #f50;
}
.fix {
  display: inline-block;
  zoom: 1;
}
.fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.l-mini-nav {
  height: 24px;
  line-height: 24px;
  background: #f5f5f5;
}
.l-mini-nav a {
  font-size: 12px;
  color: #666;
}
.l-mini-nav a:hover {
  text-decoration: underline;
  color: #333;
}
html,
body {
  color: #333;
  font-size: 14px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
}
.lab_container {
  width: 960px;
  max-width: 100%;
  margin: auto;
}
.labs_detail_title {
  padding: 80px 0px 100px;
  background: #2ba3d4;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.labs_detail_title h1 {
  line-height: 30px;
  font-size: 30px;
  font-weight: normal;
  color: #fff;
  margin: 30px 0px 30px;
}
.labs_detail_title p {
  margin-bottom: 50px;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
}
.labs_detail_title p i {
  margin-right: 10px;
  font-size: 24px;
}
.labs_detail_title p a {
  color: #fff;
  cursor: pointer;
}
.labs_detail_title p a:hover {
  text-decoration: underline;
}
.labs_detail_title .btn {
  margin-right: 10px;
}
.labs_detail_title .btn i {
  margin-right: 10px;
}
.labs_detail_doc {
  padding: 0 0px 20px;
  background: #ffffff;
}
.labs_detail_github {
  background: #2c3e50;
  padding: 120px 0px 100px;
  min-height: 450px;
  position: relative;
}
.labs_detail_github .labsDeGit_loading {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 30px;
}
.labsDeGit_cpt {
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}
.labsDeGit_cpt i {
  font-size: 120px;
}
.labsDeGit_cpt p {
  height: 50px;
  line-height: 50px;
  font-size: 26px;
}
.labsDeGit_repos {
  max-width: 400px;
  margin: auto;
  background: #fff;
}
.labsDeGit_repos .labsDeGitRepos_cpt {
  height: 40px;
  border-bottom: 1px solid #f4f4f4;
}
.labsDeGit_repos .labsDeGitRepos_cpt .labsDeGitRepos_cpt_logo {
  height: 40px;
  float: left;
  padding: 0px 10px 0px 20px;
  line-height: 40px;
  color: #aaaaaa;
}
.labsDeGit_repos .labsDeGitRepos_cpt .labsDeGitRepos_cpt_root {
  line-height: 40px;
}
.labsDeGit_repos .labsDeGitRepos_cpt .labsDeGitRepos_cpt_root a {
  color: #777;
}
.labsDeGit_repos .labsDeGitRepos_cpt .labsDeGitRepos_cpt_root a:hover {
  color: #222;
  text-decoration: underline;
}
.labsDeGit_repos .labsDeGitRepos_cnt {
  overflow: hidden;
}
.labsDeGit_repos .labsDeGitRepos_cnt a {
  display: block;
  width: 33.3333%;
  height: 100px;
  float: left;
  text-align: center;
}
.labsDeGit_repos .labsDeGitRepos_cnt a .labsDeGitRepos_cnt_ico {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: #666666;
}
.labsDeGit_repos .labsDeGitRepos_cnt a strong {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 16px;
  font-weight: normal;
}
.labsDeGit_repos .labsDeGitRepos_cnt a:hover {
  background: #f4f4f4;
}
.labs_footer {
  padding: 50px 0px;
  background: #eee;
  text-align: center;
}
.labs_footer h3 {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
}
.labs_footer p {
  line-height: 24px;
  font-size: 12px;
  color: #888888;
}
.labs_footer a {
  padding: 0px 5px;
  text-decoration: underline;
  color: #888888;
}
.labs_footer a:hover {
  color: #333333;
}
.tongji {
  height: 0;
  overflow: hidden;
}
