
@font-face{
	font-family:'mditor';
	src:url('mditor.eot');
	src:url('mditor.eot#iefix') format('embedded-opentype'),
		url('mditor.woff') format('woff'),
		url('mditor.ttf') format('truetype'),
		url('mditor.svg#mditor') format('svg');
	font-weight:normal;
	font-style:normal
}
[class^="icon-"],
[class*=" icon-"]{}
[class^="icon-"]:before,
[class*=" icon-"]:before{
	speak:none;display:inline-block;width:1em;vertical-align:text-top;
	font-family:"mditor";font-style:normal;font-weight:normal;font-variant:normal;
	text-decoration:inherit;text-align:center;text-transform:none;}
.icon-exist_fullscreen:before{content:'\0041'}
.icon-fullscreen:before{content:'\0042'}
.icon-view:before{content:'\0043'}
.icon-code:before{content:'\0044'}
.icon-bold:before{content:'\0045'}
.icon-italic:before{content:'\0046'}
.icon-image:before{content:'\0047'}
.icon-redo:before{content:'\0048'}
.icon-undo:before{content:'\0049'}
.icon-link:before{content:'\004A'}


.mditor_fullScreen{background:#444;position: fixed;top:0px;left:0px;width:100%;height:100%;z-index: 50000;}
.mditor_toolBar{position: absolute;top:0px;left:0px;width:100%;height:40px;background:#fff;box-shadow:0px 0px 5px #000;}
.mditor_toolBar a{display:inline-block;width:30px;height:30px;border-radius:4px;line-height:30px;text-align:center;font-size: 24px;color:#aaa;
	transition:0.2s;-moz-transition-duration: 0.2s;-webkit-transition-duration: 0.2s;-o-transition-duration: 0.2s;}
.mditor_toolBar a:hover{box-shadow:0px 0px 4px rgba(1,1,4,0.3);color:#333;}
.mditor_toolBar a:active{box-shadow:0px 0px 4px rgba(1,1,4,0.3) inset;text-shadow:0px 0px 2px rgba(1,1,4,0.3);background:#aaa;color:#fff;}
.mditor_tool_main{float: left;padding:5px 0px 0px 5px;}
.mditor_tool_side{float: right;padding:5px 5px 0px 0px;}

.mditor_main{position: absolute;top:50px;left:10px;right:10px;bottom:10px;}
.mditor_input{position: absolute;top:0px;left:0px;width:50%;height:100%;z-index:0;}
.mditor_input textarea{position: absolute;top:0px;left:0px;border:none;resize:none;background:#eee;color:#333;line-height:200%;margin:0px;padding:10px 15px;box-sizing: content-box;}
.mditor_input textarea:focus{background: #fff;box-shadow: 1px 1px 10px #000;outline:none;}
.mditor_view{position: absolute;top:0px;right:0px;width:50%;height:100%;z-index: 1;}
.mditor_viewer{position: absolute;top:0px;right:0px;left:10px;height:100%;overflow: auto;background:#fff;}
.mditor_view .md_html{padding:20px 10px;}

/*小工具栏*/
.mditor_miniBar{height:35px;padding:4px 8px;background:#fff;box-shadow:0px 0px 5px rgba(0,0,0,0.3);position:relative;}
.mditor_miniBar a{display:inline-block;width:26px;height:26px;border-radius:4px;line-height:26px;text-align:center;font-size: 24px;color:#aaa;
	transition:0.2s;-moz-transition-duration: 0.2s;-webkit-transition-duration: 0.2s;-o-transition-duration: 0.2s;}
.mditor_miniBar a:hover{box-shadow:0px 0px 4px rgba(1,1,4,0.3);color:#333;}
.mditor_miniBar a:active{box-shadow:0px 0px 4px rgba(1,1,4,0.3) inset;text-shadow:0px 0px 2px rgba(1,1,4,0.3);background:#aaa;color:#fff;}
.mditor_preview{visibility: hidden;}
@media screen and (max-width: 645px){
	.mditor_input{width: 100%;}
	.mditor_view{width: 100%;display: none;}
	.mditor_preview{visibility:visible;}
	.mditor_viewer{left:0px;}
}

