// Navigation
.navigation .navigation-body
	view-transition-name navigation-view;

// Default Router View
.base-router-transition .view-page
	view-transition-name default-router-view;

@keyframes default-router-view-ani
	0%
		transform scale(1)
	30%
	35%
		transform scale(0.94, 0.91)
	100%
		transform scale(1)
@keyframes default-router-view-ani-fade-in
	0%
	50%
		opacity 0
	100%
		opacity 1
@keyframes default-router-view-ani-fade-out
	50%
		opacity 1
	100%
		opacity 0
::view-transition-group(default-router-view)
	height 100%
	overflow clip
	object-fit cover
	mix-blend-mode normal
	animation default-router-view-ani 1.2s ease-in-out forwards
::view-transition-new(default-router-view)
	animation default-router-view-ani-fade-in 1.2s ease-in-out forwards
::view-transition-old(default-router-view)
	animation default-router-view-ani-fade-out 1.2s ease-in-out forwards

// Article View
.article-router-transition
	.router-transition-article-item img
		view-transition-name article-head-view;
	.blog-detail header
		view-transition-name article-head-view;
	.section-article
		view-transition-name article-body-view;
::view-transition-group(article-head-view)
	animation-duration 0.4s
	animation-timing-function ease-out
::view-transition-old(article-head-view)
	height 100%
	overflow clip
	object-fit cover
::view-transition-new(article-head-view)
	height 100%
	overflow clip
::view-transition-new(article-body-view)
	opacity 0
	animation article-body-transition-in 0.4s 0.3s ease-out forwards
// @keyframes article-head-fade-in
// 	0%
// 		opacity 0
// 	100%
// 		opacity 1
@keyframes article-body-transition-in
	0%
		opacity 0
		transform translate(0, 8vh)
	100%
		opacity 1
		transform translate(0, 0)
		
