<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>分享列表</title>
<link href="/skin/admin/admin.css" rel=stylesheet>
<script src="/skin/admin/jquery.js" type="text/javascript"></script>
<script src="/skin/admin/admin.js" type="text/javascript"></script>
</head>
<body class="articleListPage">
<div class="containter">
	<div class="caption">友情链接列表</div>
	<div class="addArticle">
		<a target="_self" class="add layBtn" href="../tool/friendDetail.html">添加友情链接</a>
	</div>
	<div class="listSheet">
		<table class="articleList" cellspacing="0">
			<tr><th>博名</th><th>网址</th><th>描述</th><th>添加时间</th><th>编辑</th></tr>
			{content}
		</table>
	</div>
</div>

</body>
</html>