@import "../../../_public/less/_core.less";

/**
 * 导航
 */
@nav_height: 60px;
.app-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @nav_height;
  z-index: 1000;
  .nav {
    float: left;
    li {
      position: relative;
      float: left;
      margin-right: 1em;
      font-size: 16px;
      color: rgba(0, 0, 0, .6);
      a {
        display: block;
        height: @nav_height;
        padding: 0 1em;
        outline: none;
        overflow: hidden;
        line-height: @nav_height;
        color: inherit;
        text-align: center;
        .transition(.2s);
        i,
        span {
          display: inline-block;
          vertical-align: middle;
          height: 30px;
          line-height: 30px;
        }
        i {
          margin-right: 6px;
          text-align: center;
          font-size: 24px;
          display: none;
        }
        &:hover {
          color: inherit;
        }
      }
      &:nth-child(1) a i {
        display: inline-block;
      }
      &.cur {
        color: #000;
      }
    }
  }
  .side {
    float: right;
    height: @nav_height;
    font-size: 0;
    li {
      display: inline-block;
      height: @nav_height;
      line-height: @nav_height;
      padding: 0 10px;
      a {
        font-size: 12px;
        color: #000
      }
    }
  }

  .nav-app-name {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 35px;
    background: url('../images/nav-logo.png');
    background-size: cover;
    border-radius: 4px;
    text-indent: -10em;
    overflow: hidden;
    font-size: 0;
    z-index: 2;
  }
  .nav_moreBtn {
    position: absolute;
    display: block;
    width: 46px;
    height: 46px;
    top: 15px;
    right: 15px;
    border-radius: 4px;
    z-index: 3;
  }
  .nav_Btn_ico {
    display: block;
    position: absolute;
    width: 22px;
    height: 4px;
    left: 13px;
    border-radius: 4px;
    background: #fff;
    .transition(0.2s, ease);
  }
  .nav_Btn_ico_1 {
    top: 12px
  }
  .nav_Btn_ico_2 {
    top: 21px
  }
  .nav_Btn_ico_3 {
    top: 30px
  }
}

@media screen and (min-width: 660px) {
  .app-nav {
    .nav_body {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: @nav_height;
      background: #fff;
      transform: translate(0, -100%);
      .transition(.3s, ease-in-out, transform);
      transition-delay: .8s;
    }
    .nav-app-name,
    .nav_moreBtn {
      transition: .2s ease-in;
      transition-delay: .8s
    }

    &.darken,
    &:hover {
      .nav_body {
        transform: translate(0, 0);
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
        transition-delay: .1s;
      }
      .nav-app-name,
      .nav_moreBtn {
        transform: translate(0, -20px);
        opacity: 0;
        transition-delay: .3s;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  body:before {
    content: '';
    display: block;
    height: @nav_height;
  }

  .app_container,
  .app-footer {
    .transition(.2s, ease);
  }

  .app-nav {
    height: @nav_height;
    background: #fff;
    box-shadow: 0 0 4px #000;
    .side {
      float: none;
      text-align: center;
      border-top: 1px solid #eee;
      li {
        padding: 0 30px;
      }
    }
  }

  .nav_body {
    width: 100%;
    height: auto;
    top: -300px;
    left: 0;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    opacity: 0;
    z-index: 2;
    .transition(.2s, ease);
    .nav {
      float: none;
      margin: 20px 0;
      li {
        float: none;
        a {
          i {
            display: inline-block;
          }
          span {
            width: 5em;
            padding-left: 5px;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
  }

  .nav_slidedown {
    .nav_body {
      top: @nav_height;
      opacity: 1;
    }
    .nav_mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .app_container,
    .app-footer {
      opacity: .4;
      .transform(translateY(100px));
    }
  }
}