<div class="app-footer">
  <div class="grid-row">
    <div class="grid-col-1-3">
      <h3>小剧客栈</h3>
      <div class="footer-about-links">
          <a href="/topic/aboutme/index.html">关于剧中人</a>
          <a href="/topic/aboutblog/index.html">关于小剧客栈</a>
      </div>
     <p class="footer-aboutme">
       <a href="/topic/aboutme/index.html" title="关于剧中人"><i class="l-icon l-icon-layLogo"></i></a>
       <a href="https://github.com/bh-lay" title="github"><i class="l-icon l-icon-git"></i></a>
       <a href="http://www.zhihu.com/people/imju-zhong-ren" title="知乎"><i class="l-icon l-icon-zhihu"></i></a>
       <a href="https://dribbble.com/bh_lay" title="dribbble"><i class="l-icon l-icon-dribbble"></i></a>
    </p>
    </div>
    <div class="grid-col-2-3">
      <p>design & code by @剧中人,base on nodeJS + mongoDB</p>
      <p>© 2012-2015。感谢七牛云存储提供静态资源空间。</p>
    </div>
    <div class="grid-box-full">
      {{{version}}}
    </div>
  </div>
</div>