<div class="app-footer">
    <div class="grid-row">
        <div class="grid-col-1-3 footer-aboutme">
           <h3>我是剧中人</h3>
           <p>
	           <a target="_blank" href="/topic/aboutme/index.html" title="关于剧中人" class="aboutme"><i class="l-icon l-icon-layLogo"></i></a>
				<a target="_blank" href="https://github.com/bh-lay" title="github" class="github"><i class="l-icon l-icon-git"></i></a>
				<a target="_blank" href="http://www.zhihu.com/people/imju-zhong-ren" title="知乎" class="zhihu"><i class="l-icon l-icon-zhihu"></i></a>
				<a target="_blank" href="https://dribbble.com/bh_lay" title="dribbble" class="dribbble"><i class="l-icon l-icon-dribbble"></i></a>
       		</p>
        </div>
        <div class="grid-col-2-3">
        	<p>design & code by @剧中人</p>
        	<p>base on nodeJS</p>
        </div>
        <div class="grid-box-full">
        	<p>© 2012-2015。感谢七牛云存储提供静态资源空间。</p>
			{{{version}}}
        </div>
    </div>
</div>