<div class="app-footer">
  <div class="grid-row">
    <div class="grid-col-2-4">
      <h3>小剧客栈</h3>
      <p>小剧客栈是剧中人在成长路上的一个缩影，也希望借此结交更多前辈好友。分享小剧在前端、nodeJS、设计和web的各个细节上的点点滴滴，愿与你共同分享，一起进步！</p>
    </div>
    <div class="grid-col-1-4">
      <h3>相关链接</h3>
       <ul>
          <li><a href="/blog">博文</a></li>
          <li><a href="/labs">实验室</a></li>
          <li><a href="/directories">前端英雄榜</a></li>
      </ul>
    </div>
    <div class="grid-col-1-4">
      <div class="footer-about-links">
         <h3>关于</h3>
          <a href="/topic/aboutme/index.html">关于剧中人</a>
          <a href="/topic/aboutblog/index.html">关于小剧客栈</a>
      </div>
      <p class="footer-aboutme">
        <a href="/topic/aboutme/index.html" title="关于剧中人"><i class="l-icon l-icon-layLogo"></i></a>
        <a href="https://github.com/bh-lay" title="github"><i class="l-icon l-icon-git"></i></a>
        <a href="http://www.zhihu.com/people/imju-zhong-ren" title="知乎"><i class="l-icon l-icon-zhihu"></i></a>
        <a href="https://dribbble.com/bh_lay" title="dribbble"><i class="l-icon l-icon-dribbble"></i></a>
      </p>
    </div>
    <div class="grid-box-full">
      <p>design & code by @剧中人,base on nodeJS + mongoDB</p>
      <p>感谢七牛提供近乎免费的CDN，阿里云提供的优质云服务，以及360云加速的给力支持。</p>
      <form class="form-search" action="//www.baidu.com/baidu">
        <input name=word type="text" maxlength="100" ><input type="submit" value="搜索">
        <input name=tn type=hidden value="bds">
        <input name=cl type=hidden value="3">
        <input name=ct type=hidden value="2097152">
        <input name=si type=hidden value="bh-lay.com">
      </form>
      {{{version}}}
    </div>
  </div>
</div>
