<div class="jumbotron" style="text-align:center; border:none;border-radius:0;padding: 50px 10px 30px;">
		<img src="http://layasset.qiniudn.com/images/logo/black.png?imageView/1/w/80/h/80/q/85" />
		<h1 class="index_intro_a">小剧客栈</h1>
		<h4>一个自称采用了单页面加响应式的个人博客</h4>
		<h3>nodeJS强力驱动</h3>
		<h5>无耻地没有采用express框架</h5>
</div>

<div class="container">
<div class="row">
	<div class="col-sm-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>我的小伙伴</h2>
			<ul class="list-group">
				<li class="list-group-item"><a target="_blank" href="http://www.siyonli.com/">大晚的小窝</a></li>
				<li class="list-group-item"><a target="_blank" href="http://www.w3clover.com">W3C爱好者</a></li>
				<li class="list-group-item"><a target="_blank" href="http://www.z990.com">小林Design</a></li>
				<li class="list-group-item"><a target="_blank" href="http://www.zhuwenlong.com/">Mofei梦的起飞</a></li>
				<li class="list-group-item"><a target="_blank" href="http://www.hankewins.com/">前端生活</a></li>
				<li class="list-group-item"><a target="_blank" href="http://www.woween.com">何东杰的网络日记</a></li>
				<li class="list-group-item"><a target="_blank" href="http://www.w3cfuns.com/">前端开发网</a></li>
			</ul>
		</div>
	</div>
	</div>
</div>
</div>