<div class="jumbotron" style="text-align:center; border:none;border-radius:0;padding: 50px 10px 30px;">
		<img src="http://layasset.qiniudn.com/images/logo/black.png?imageView/1/w/80/h/80/q/85" />
		<h1 class="index_intro_a">小剧客栈</h1>
		<h4>一个自称采用了单页面加响应式的个人博客</h4>
		<h3>nodeJS强力驱动</h3>
		<h5>无耻地没有采用express框架</h5>
</div>

<div class="container">
<div class="row">
	<div class="col-sm-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<h2>我的小伙伴</h2>
			<ul class="list-group">
				{{@each list as it}}
					<li class="list-group-item"><a target="_blank" href="${{it.url}}">${{it.title}}</a></li>
				{{@/each}}
			</ul>
		</div>
	</div>
	</div>
</div>
</div>