<div class="indeCnt">
	<div class="golCnt">
		<div class="layIntroCnt">
			<div class="layIntro layIntroA"><span>我是</span><strong>剧中人</strong></div>
			<div class="layIntro layIntroB">90后·天蝎男</div>
			<div class="layIntro layIntroC">喜欢拆卸，喜欢代码，喜欢设计</div>
			<div class="layIntro layIntroD">喜欢一切有创造力的事情</div>
			<div class="laySnsLink">
				<a target="_blank" class="sns_qq" title="QQ" href="http://sighttp.qq.com/authd?IDKEY=add2a4ef1d41f5d9014a7162fd89e6343c31c38ccbf9cc6f"><span>扣扣</span></a>
				<a target="_blank" class="sns_weibo" title="新浪微博" href="http://weibo.com/bhlay"><span>微博</span></a>
				<a target="_blank" class="sns_google" title="Google+" href="https://plus.google.com/117302426559268025818/"><span>谷歌+</span></a>
				<a target="_blank" class="sns_zhanku" title="站酷" href="http://www.zcool.com.cn/u/684057/"><span>站酷</span></a>
			</div>
		</div>
		<div class="indexNav">
			<div class="inNavCnt">
				<div class="inNavCntItem">
					<div class="wrPlCnt">
						<div class="wrPlItem">
							<div class="wrPlItTitle"><strong>用CSS3润色的table表格</strong><span>2013年7月26日前完成</span></div>
							<div class="wrPlItCount"><span>剩余</span><strong class="time_count">1374742712440</strong><span>h</span></div>
						</div>
						<div class="wrPlItem">
							<div class="wrPlItTitle"><strong>前后端公用模版的实现</strong><span>2013年8月5日前完成</span></div>
							<div class="wrPlItCount"><span>剩余</span><strong class="time_count">1375690414597</strong><span>h</span></div>
						</div>
					</div>
				</div>
				<div class="inNavCntItem">
					<div class="wrPlCnt">
						<div class="wrPlItem"><a href="/blog/13ff0cdf1a0" lofox="true">
							<div class="wrPlItTitle"><strong>placehold的方法及实现</strong><span>2013年7月18前完成</span></div>
							<div class="wrPlItCount"><span>推迟</span><strong>18</strong><span>h 完成</span></div>
						</a></div>
						<div class="wrPlItem"><a href="/blog/13fcb0f8b68" lofox="true">
							<div class="wrPlItTitle"><strong>layUI有关select的实现</strong><span>2013年7月10日完成</span></div>
							<div class="wrPlItCount"><span>推迟</span><strong>6</strong><span>h 完成</span></div>
						</a></div>
						<div class="wrPlItem"><a href="/blog/13f4b2a16e8" lofox="true">
							<div class="wrPlItTitle"><strong>新版 - 博客基本功能实现、数据迁移及上线</strong><span>2013年6月22日完成</span></div>
							<div class="wrPlItCount"><span>提前</span><strong>13</strong><span>h 完成</span></div>
						</a></div>
					</div>
				</div>
				<div class="inNavCntItem">
					<div class="webLink">
						{@each friend_list as it,index}
 							<a target="_blank" href="${it.url}">${it.title}</a>
						{@/each}
					</div>
				</div>
			</div>
			<div class="inNavBtn">
				<span>博文计划</span><span>最近完成</span><span>我的博友</span>
			</div>
		</div>
	</div>
</div>