<div class="navLayer">
	<div class="nav_main">
		<ul class="nav">
			<li page="index"><a class="nav_logo" lofox="true" href="/"><i>&#x0049;</i><strong>首页</strong></a></li>
			<li page="blog"><a lofox="true" title="博客" href="/blog/"><i>&#x0045;</i><strong>博客</strong></a></li>
			<li page="labs"><a lofox="true" title="小剧的实验室" href="/labs/"><i>&#x0047;</i><strong>实验室</strong></a></li>
			<li page="share"><a lofox="true" title="分享" href="/share/"><i>&#x0048;</i><strong>分享</strong></a></li>
			<li page="opus"><a lofox="true" title="小剧作品" href="/opus/"><i>&#x0046;</i><strong>作品</strong></a></li>
		</ul>
		<ul class="navLink">
			<li><a title="创业团" target="_blank" href="/topic/intiate.html">创业团</a></li>
			<li><a title="给剧中人留言" target="_blank" href="/demo/bless.html">留言</a></li>
		</ul>
	</div>
	<div class="nav_tool">
		<a class="nav_moreBtn" href="javascript:void(0)">
			<span class="nav_Btn_ico nav_Btn_ico_1"></span>
			<span class="nav_Btn_ico nav_Btn_ico_2"></span>
			<span class="nav_Btn_ico nav_Btn_ico_3"></span>
		</a>
	</div>
</div>