<div class="navLayer">
	<div class="nav_bj"></div>
	<div class="nav_main">
		
		<div class="nav_mainList">
			<ul class="nav">
				<li page="index"><a class="nav_logo" lofox="true" href="/">小剧客栈</a></li>
				<li page="blog"><a lofox="true" title="博客" href="/blog/"><i class=" icon-book"></i>博客</a></li>
				<li page="share"><a lofox="true" title="分享" href="/share/"><i class="icon-share-alt"></i>分享</a></li>
				<li page="labs"><a lofox="true" title="小剧的实验室" href="/labs/"><i class="icon-beaker"></i>实验室</a></li>
				<li page="opus"><a lofox="true" title="小剧作品" href="/opus/"><i class="icon-laptop"></i>作品</a></li>
			</ul>
			<ul class="navLink">
				<li><a title="创业团" target="_blank" href="/topic/intiate.html">创业团</a></li>
				<li><a title="给剧中人留言" target="_blank" href="/demo/bless.html">留言</a></li>
			</ul>
		</div>
		<div class="nav_tool">
			<a class="nav_moreBtn" href="javascript:void(0)">
				<span class="nav_Btn_ico nav_Btn_ico_1"></span>
				<span class="nav_Btn_ico nav_Btn_ico_2"></span>
				<span class="nav_Btn_ico nav_Btn_ico_3"></span>
			</a>
		</div>
	</div>
</div>