<div class="app_nav">
	<div class="nav_mask"></div>
	<div class="nav_body">
		<div class="grid-row">
        <ul class="nav">
			<li page="index"><a class="nav_logo" data-title="首页" href="/"><i class="l-icon l-icon-layLogo"></i><span>小剧客栈</span></a></li>
			<li page="blog"><a href="/blog/"><i class="l-icon l-icon-book"></i><span>博客</span></a></li>
			<li page="labs"><a href="/labs/"><i class="l-icon l-icon-beaker"></i><span>实验室</span></a></li>
          <li page="bless"><a title="给剧中人留言" href="/bless"><i class="l-icon l-icon-comment"></i><span>留言</span></a></li>

		</ul>
		<ul class="side">
			<li><a title="前端英雄榜" href="/directories">前端英雄榜</a></li>
		</ul>
        </div>
	</div>
	<div class="nav_appname">
		<i class="l-icon l-icon-layLogo"></i>小剧客栈
	</div>
	<a class="nav_moreBtn" href="javascript:void(0)" title="导航">
		<span class="nav_Btn_ico nav_Btn_ico_1"></span>
		<span class="nav_Btn_ico nav_Btn_ico_2"></span>
		<span class="nav_Btn_ico nav_Btn_ico_3"></span>
	</a>
</div>
