<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>实验室_小剧客栈</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="keywords" content="剧中人,bh-lay,网站建设,网页设计,设计师" />
<meta name="description" content="小剧客栈是剧中人精心营造的一个向广大设计爱好者、喜欢剧中人开放的博客，小剧希望用设计师鞭策自己，愿意和你共同分享，一起进步！" />
<link href="/favicon.ico" rel="shortcut icon"/>
<link href="/skin/naive/css/common.css" rel="stylesheet" type="text/css" />
<link href="/skin/naive/css/opus.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="gallayer">
		<div class="galBj"></div>
		<div class="galMask"></div>
	</div>
	<div class="contlayer">
		<div class="golCnt">
			<div class="opusList">
				<ul>{-content-}</ul>
			</div>
		</div>
	</div>
{-nav-}
<script src="/skin/js/lib/jquery.js" type="text/javascript"></script>
<script src="/skin/js/lay.js" type="text/javascript"></script>
<script src="/skin/naive/layTool.js" type="text/javascript"></script>
{-tongji-}
</body>
</html>