<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>${title}_小剧客栈</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="keywords" content="${tags}" />
<meta name="description" content="${intro}" />
<link href="/favicon.ico" rel="shortcut icon"/>
<link rel="stylesheet" type="text/css" href="/frontEnd/public/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/frontEnd/public/css/labs.css" />
</head>
<body>
	<div class="labs_detail_title">
		<div class="l_row">
			<h1>${title}</h1>
		</div>
	</div>
	<div class="labs_detail_main">
		<div class="l_row">
			<div class="labs_detail">
				<div class="l_notice l_notice_tips">
					<strong>实验室</strong>目前正在开发中，许多明显需要改进的地方正在开发中，敬请期待！
				</div>
				<div class="article">$${content}</div>
			</div>
		</div>
	</div>
{-nav-}
<script src="/skin/js/lib/jquery.js" type="text/javascript"></script>
<script src="/frontEnd/lib/sea.js" type="text/javascript"></script>
<script src="/frontEnd/public/js/labsDetail.js" type="text/javascript"></script>
{-tongji-}
</body>
</html>