<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<title>登录_小剧客栈</title>
<style type="text/css">
	*{margin:0px;padding:0px;}
	body{
		font-family: "Microsoft Yahei";
		font-family: 'georgia' ,'Microsoft Yahei';
	}
	.containter{width:960px; margin:auto;}
</style>
</head>
<body>
<div class="containter">
	<div class="fast_link">
		<a href="/ajax/clear_cache?type=chip">清除片段缓存</a>
		<a href="/ajax/clear_cache?type=ajax">清除ajax缓存</a>
		<a href="/ajax/clear_cache?type=html">清除页面缓存</a>
		<a target="main" href="/admin/tool/friendList.html">友情链接</a>
		
	</div>
</div>
<script src="/skin/admin/jquery.js" type="text/javascript"></script>
</body>
</html>