<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>剧中人后台</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link href="/skin/admin/admin.css" rel="stylesheet">
</head>
<body>
<div class="topNav">
	<div class="containter">
		<div class="userCnt">
			<div class="username">{-username-}</div>
			<div class="username_hover">
				<a href="/ajax/user/exist" onclick="if(!confirm('二逼，是不是不玩儿啦！')){return false;}">退出
					</a><a class="lofox" href="/admin/user/user.html?userid={-userid-}">改密</a>
			</div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/admin" class="lofox">首页</a></li>
				<li><a class="lofox" href="/admin/article">博文</a></li>
				<li><a class="lofox" href="/admin/share">分享</a></li>
				<li><a class="lofox" href="/admin/opus">作品</a></li>
				<li>
					<a href="javascript:void(0)">用户</a>
					<div class="navItem">
						<a class="lofox" href="/admin/user/list">用户管理</a>
						<a class="lofox" href="/admin/user/group">用 户 组</a>
						<a class="lofox" href="/admin/user/power">权限列表</a> 
					</div>
				</li>
		    </ul>
		</div>
	</div>
</div>
<div class="mainFrame">
	<div class="containter">
		<div class="crumbs">文章列表</div>
		<div class="mainCnt"> </div>
	</div>
</div>
<script src="/frontEnd/jquery.js" type="text/javascript"></script>
<script src="/frontEnd/loader.js" type="text/javascript"></script>
<script src="/skin/admin/index.js" type="text/javascript"></script>
</body>
</html>