<!DOCTYPE HTML>
<html lang="en-US" class="index_page">
<head>
<meta charset="UTF-8">
<title>剧中人后台</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<link href="/skin/admin/admin.css" rel="stylesheet">
</head>
<body class="index_page">
<div class="topNav">
	<div class="containter">
		<div class="userCnt">
			<div class="usernick">{-usernick-}</div>
			<div class="exist"><a href="/ajax/login?act=exist" onclick="if(!confirm('二逼，是不是不玩儿啦！')){return false;}">退出</a></div>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#">内容</a></li>
				<li><a href="#">模版</a></li>
				<li><a href="#">用户</a></li>
				<li><a href="#">其他</a></li>
		    </ul>
		</div>
		<div class="nav_link">
			<ul>
				<li><a target="_blank" href="/">站点首页</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="secondNav">
	<div class="containter">
		<div class="navItem">
			<a target="main" href="/admin/main/articleList.html">文章管理</a>
			<a target="main" href="/admin/share/shareList.html">分享管理</a>
			<a target="main" href="/admin/main/opusList.html">作品管理</a>
		</div>
		<div class="navItem">
			<a target="main" href="/admin/temp/add_and_edit.html?temp=index">首页模版</a>
			<a target="main" href="/admin/temp/add_and_edit.html?temp=blogDetail">博文模版</a>
			<a target="main" href="/admin/temp/add_and_edit.html?temp=shareDetail">分享模版</a>
			<a target="main" href="/admin/temp/add_and_edit.html?temp=opusDetail">作品模版</a>
		</div>
		<div class="navItem">
			<a target="main" href="/admin/user/userList.html">用户管理</a>
			<a target="main" href="/admin/user/user_group_list.html">用 户 组</a>
			<a target="main" href="/admin/user/power.html">权限列表</a> 
		</div>
		<div class="navItem">
			<a target="main" href="/admin/tool/friendList.html">友情链接</a>
		</div>
	</div>
</div>
<div class="mainFrame">
	<iframe id="mainFrame" src="/admin/main/articleList.html" name="main"> </iframe>
</div>
<script src="/skin/admin/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
	var Btn = $('.nav li a');
	var navCnt = $('.secondNav .navItem');
	
	Btn.click(function(){
		var i = $(this).parent().index()
		Btn.removeClass('cur').eq(i).addClass('cur');
		navCnt.hide().eq(i).show();
	});
	navCnt.on('click','a',function(){
		navCnt.find('a').removeClass('cur');
		$(this).addClass('cur');
	});
	
	Btn.eq(0).trigger('click');
</script>
</body>
</html>