<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>剧中人后台</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link href="/frontEnd/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/favicon.ico" rel="shortcut icon"/>
<style type="text/css">
	body{padding-top:60px;font-family: Microsoft Yahei;}
	.navbar {
	  min-height: 38px;
	}
	.nav > li > a {
	  padding: 7px 15px;
	}
	.navbar-brand {
	  padding: 7px 15px;
	}
	.navbar-toggle{
		padding:6px 10px;
		margin:4px 10px 0px 0px;
	}
</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/admin" class="navbar-brand lofox">小剧客栈</a>
  </div>

  <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a class="lofox" href="/admin/publish">发布</a></li>
      <li><a class="lofox" href="/admin/article">博文</a></li>
      <li><a class="lofox" href="/admin/share">分享</a></li>
	  <li><a class="lofox" href="/admin/opus">作品</a></li>
	  <li><a class="lofox" href="/admin/labs">实验室</a></li>
	  <li><a class="lofox" href="/admin/friends">友情链接</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{-username-} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="lofox" href="/admin/user/user.html?userid={-userid-}">改密</a></li>
          <li><a href="/ajax/user/exist" onclick="if(!confirm('二逼，是不是不玩儿啦！')){return false;}">退出</a></li>
          <li class="divider"></li>
          <li><a class="lofox" href="/admin/user/list">用户管理</a></li>
     	  <li><a class="lofox" href="/admin/user/group">用 户 组</a></li>
	 	  <li><a class="lofox" href="/admin/user/power">权限列表</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>    
<div class="container bs-docs-container">
	<ol class="breadcrumb row">
	  <li class="crumbs active">Data</li>
	</ol>
	<div class="mainCnt"> </div>
</div>
<script src="/frontEnd/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="/frontEnd/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/frontEnd/loader.js" type="text/javascript"></script>
<script src="/skin/admin/index.js" type="text/javascript"></script>
</body>
</html>