@charset "UTF-8";
/* pageC-1 :  labs list page 
 */
.labsList {
  padding: 100px 0px;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  zoom: 1; }
  .labsList li {
    float: left;
    width: 33.3%; }
    @media screen and (max-width: 980px) {
      .labsList li {
        width: 50%; } }
    @media screen and (max-width: 600px) {
      .labsList li {
        width: 100%; } }
  .labsList .lab_item {
    position: relative;
    height: 440px;
    margin: 0px 10px 20px;
    background: white;
    overflow: hidden; }
    .labsList .lab_item .lab_cover {
      display: block;
      height: 300px;
      margin: 0px auto;
      overflow: hidden;
      transition: 0.2s;
      -moz-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #666666; }
      .labsList .lab_item .lab_cover:hover {
        opacity: 0.8; }
    .labsList .lab_item .lab_title {
      font-weight: normal;
      line-height: 30px;
      color: #333333;
      font-size: 20px;
      text-align: center; }
      .labsList .lab_item .lab_title a {
        display: block;
        padding: 10px;
        border-bottom: 1px dashed #eeeeee;
        transition: 0.2s;
        -moz-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s; }
        .labsList .lab_item .lab_title a:hover {
          border-bottom-style: solid;
          background: #eeeeee;
          color: #00aa44; }
    .labsList .lab_item .lab_info {
      width: 100%;
      padding: 10px;
      box-sizing: border-box; }
      .labsList .lab_item .lab_info p {
        color: #333333;
        font-size: 12px;
        opacity: 0.7;
        line-height: 16px;
        text-indent: 2em;
        text-align: justify; }

.labs_info {
  height: 140px;
  box-shadow: 0px 0px 15px black;
  position: relative;
  background: white; }
  .labs_info h3 {
    height: 50px;
    position: relative;
    margin-bottom: 8px;
    border-bottom: 1px dashed #dddddd; }
    .labs_info h3 a {
      display: block;
      width: 260px;
      height: 26px;
      line-height: 26px;
      padding: 12px 10px 0px;
      overflow: hidden;
      font-size: 17px;
      font-weight: normal;
      color: #333333; }
      .labs_info h3 a:hover {
        position: absolute;
        height: auto;
        padding: 12px 10px 13px;
        background: url(/skin/naive/mask.png) #008800;
        color: white; }
      .labs_info h3 a:active {
        background: url(/skin/naive/mask.png) #006600;
        color: white; }
  .labs_info p {
    height: 18px;
    line-height: 16px;
    padding: 9px 10px; }
    .labs_info p strong {
      display: block;
      height: 30px;
      float: left;
      font-size: 14px;
      font-weight: normal;
      color: #333333; }
    .labs_info p span {
      display: inline-block;
      padding: 0px 4px;
      font-size: 14px;
      color: #888888; }
    .labs_info p a {
      display: block;
      width: 190px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #888888; }
      .labs_info p a:hover {
        color: #333333;
        text-decoration: underline; }

/*s实验室详情页 */
.labs_detail_title {
  padding: 80px 0px 30px;
  background: url("/frontEnd/public/images/greyBj.png") white;
  border-bottom: 1px solid #eeeeee; }
  .labs_detail_title h1 {
    padding: 0px 10px;
    line-height: 30px;
    font-size: 30px;
    font-weight: normal;
    color: #222222;
    margin: 30px 0px 90px; }

.labs_detail_bar {
  width: 100%;
  height: 0px;
  position: absolute;
  z-index: 50; }
  .labs_detail_bar .labs_detail_bar_body {
    width: 100%;
    padding-top: 20px; }
    .labs_detail_bar .labs_detail_bar_body .labs_detail_bar_cnt {
      height: 40px;
      margin: auto;
      max-width: 300px;
      background: white;
      border-radius: 4px;
      _border: 1px solid #bbbbbb;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
      overflow: hidden; }
      .labs_detail_bar .labs_detail_bar_body .labs_detail_bar_cnt a {
        display: block;
        width: 25%;
        float: left;
        height: 40px;
        line-height: 40px;
        color: #2c3e50;
        text-align: center;
        transition: 0.2s;
        -moz-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s; }
        .labs_detail_bar .labs_detail_bar_body .labs_detail_bar_cnt a:hover {
          background: #eeeeee; }

.labs_detail_doc {
  padding: 120px 0px 20px;
  background: white; }

.labs_detail_download {
  background: #eeeeee;
  padding-top: 130px;
  min-height: 500px; }

.labs_detail_download_title {
  width: 160px;
  height: 40px;
  margin: 0px auto 80px;
  background: url("/frontEnd/public/images/labs.png") 0px 0px; }

.labs_detail_download_linkTxt {
  max-width: 460px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto; }
  @media screen and (max-width: 500px) {
    .labs_detail_download_linkTxt {
      margin: 0 10px; } }
  .labs_detail_download_linkTxt ul {
    width: 400%;
    height: 90px; }
    .labs_detail_download_linkTxt ul li {
      width: 25%;
      height: 90px;
      position: relative;
      float: left;
      text-align: center;
      background: #2c3e50; }
      .labs_detail_download_linkTxt ul li h6 {
        height: 30px;
        padding-top: 15px;
        line-height: 30px;
        color: white;
        font-size: 18px;
        font-weight: normal; }
      .labs_detail_download_linkTxt ul li p, .labs_detail_download_linkTxt ul li p a {
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: #999999; }
        .labs_detail_download_linkTxt ul li p a:hover, .labs_detail_download_linkTxt ul li p a a:hover {
          color: white;
          text-decoration: underline; }
      .labs_detail_download_linkTxt ul li .labs_arrow {
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0px 0px -10px -10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #2c3e50;
        font-size: 20px;
        font-family: "Simsun"; }
    .labs_detail_download_linkTxt ul .labs_link_github .labs_arrow {
      margin-left: -165px; }
    .labs_detail_download_linkTxt ul .labs_link_zip .labs_arrow {
      margin-left: 145px; }
    @media screen and (max-width: 600px) {
      .labs_detail_download_linkTxt ul .labs_link_github .labs_arrow {
        margin-left: -120px; }
      .labs_detail_download_linkTxt ul .labs_link_zip .labs_arrow {
        margin-left: 105px; } }

.labs_detail_download_link {
  text-align: center;
  padding: 10px 0px 30px;
  margin-bottom: 100px; }
  .labs_detail_download_link a {
    display: inline-block;
    margin: 0px 40px 40px;
    color: #aaaaaa;
    transition: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    font-family: "layIcon";
    font-size: 60px; }
    .labs_detail_download_link a:hover {
      color: #666666; }
    .labs_detail_download_link a.active {
      color: black; }
  @media screen and (max-width: 600px) {
    .labs_detail_download_link a {
      margin: 0px 20px 40px; } }

/*github部分 */
.labs_detail_github {
  background: #2c3e50;
  padding: 120px 0px 100px;
  min-height: 450px;
  position: relative; }
  .labs_detail_github .labsDeGit_loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 30px; }
  .labs_detail_github .labsDeGit_cpt {
    height: 50px;
    line-height: 50px;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-bottom: 60px; }
  .labs_detail_github .labsGitNoResult {
    color: white;
    text-align: center; }
    .labs_detail_github .labsGitNoResult h3 {
      font-weight: normal;
      font-size: 24px;
      margin-bottom: 10px; }
    .labs_detail_github .labsGitNoResult h5 {
      font-weight: normal;
      font-size: 18px; }
    .labs_detail_github .labsGitNoResult p {
      font-size: 12px;
      opacity: 0.5; }
  .labs_detail_github .labsDeGit_user {
    width: 184px;
    margin: 0px auto 40px;
    background: white; }
    .labs_detail_github .labsDeGit_user .labsDeGitUser_cover {
      display: block;
      width: 184px;
      height: 184px; }
      .labs_detail_github .labsDeGit_user .labsDeGitUser_cover img {
        display: block;
        width: 184px;
        height: 184px; }
    .labs_detail_github .labsDeGit_user .labsDeGitUser_name a {
      display: block;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-bottom: 1px solid #f4f4f4;
      transition: 0.4s;
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s; }
      .labs_detail_github .labsDeGit_user .labsDeGitUser_name a:hover {
        background: #f4f4f4; }
    .labs_detail_github .labsDeGit_user .labsDeGitUser_name strong {
      color: #333333;
      font-size: 18px;
      font-weight: normal;
      margin-right: 10px; }
    .labs_detail_github .labsDeGit_user .labsDeGitUser_name span {
      color: #aaaaaa;
      font-size: 14px; }
    .labs_detail_github .labsDeGit_user .labsDeGitUser_data {
      height: 45px; }
      .labs_detail_github .labsDeGit_user .labsDeGitUser_data a {
        display: block;
        width: 33.3%;
        height: 45px;
        float: left;
        text-align: center;
        transition: 0.4s;
        -moz-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s; }
        .labs_detail_github .labsDeGit_user .labsDeGitUser_data a strong {
          display: block;
          font-weight: normal;
          line-height: 25px;
          color: #555555;
          font-size: 16px; }
        .labs_detail_github .labsDeGit_user .labsDeGitUser_data a span {
          display: block;
          line-height: 15px;
          color: #bbbbbb;
          font-size: 12px;
          letter-spacing: -1px; }
        .labs_detail_github .labsDeGit_user .labsDeGitUser_data a:hover {
          background: #f4f4f4; }
  .labs_detail_github .labsDeGit_repos {
    margin: 0px 10px;
    background: white; }
    .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cpt {
      height: 40px;
      border-bottom: 1px solid #f4f4f4; }
      .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cpt .labsDeGitRepos_cpt_logo {
        height: 40px;
        float: left;
        padding: 0px 10px 0px 20px;
        line-height: 40px;
        color: #aaaaaa; }
      .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cpt .labsDeGitRepos_cpt_root {
        line-height: 40px; }
        .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cpt .labsDeGitRepos_cpt_root a {
          color: #777777; }
          .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cpt .labsDeGitRepos_cpt_root a:hover {
            color: #222222;
            text-decoration: underline; }
    .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cnt {
      overflow: hidden; }
      .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cnt a {
        display: block;
        width: 33.3333%;
        height: 100px;
        float: left;
        text-align: center; }
        .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cnt a .labsDeGitRepos_cnt_ico {
          display: block;
          height: 60px;
          line-height: 60px;
          font-size: 30px;
          color: #666666; }
        .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cnt a strong {
          display: block;
          height: 40px;
          line-height: 40px;
          color: #333333;
          font-size: 16px;
          font-weight: normal; }
        .labs_detail_github .labsDeGit_repos .labsDeGitRepos_cnt a:hover {
          background: #f4f4f4; }

/*demo部分 */
.labs_detail_demo {
  position: relative;
  height: 600px; }
  .labs_detail_demo iframe {
    width: 100%;
    height: 100%; }
  .labs_detail_demo .labsDeDemo_btn {
    position: absolute;
    width: 200px;
    padding: 10px 0px 7px;
    top: 50px;
    right: 0px;
    background: #2c3e50;
    text-align: center;
    border-radius: 8px 0px 0px 8px; }
    .labs_detail_demo .labsDeDemo_btn p {
      line-height: 16px;
      color: #566573;
      font-size: 12px; }
    .labs_detail_demo .labsDeDemo_btn a {
      line-height: 25px;
      font-size: 14px;
      color: white; }
      .labs_detail_demo .labsDeDemo_btn a:hover {
        text-decoration: underline; }

.labs_footer {
  padding: 50px 0px;
  background: #eeeeee;
  text-align: center; }
  .labs_footer h3 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    color: #666666; }
  .labs_footer p {
    line-height: 24px;
    font-size: 12px;
    color: #888888; }
  .labs_footer a {
    padding: 0px 5px;
    text-decoration: underline;
    color: #888888; }
    .labs_footer a:hover {
      color: #333333; }
