@charset "UTF-8";
/**
 * 定义Minxin
 **/
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
img {
  border: none;
}
ul,
ol,
li,
form,
dl {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #f70;
}
TD {
  color: #777;
  font-size: 12px;
  padding: 10px;
}
.grid-row {
  width: 1500px;
  position: relative;
  margin: auto;
  zoom: 1;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.grid-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.grid-row [class*="grid-box"],
.grid-row [class*="grid-col"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.grid-row .grid-box {
  width: 300px;
}
.grid-row .grid-box-2 {
  width: 50%;
}
.grid-row .grid-box-full {
  width: 100%;
  float: none !important;
  clear: both;
}
.grid-row .grid-col-1-3 {
  width: 33.3333333%;
}
.grid-row .grid-col-2-3 {
  width: 66.6666667%;
}
.grid-row .grid-col-fix-300 {
  width: 300px;
}
.grid-row .grid-col-flow-300 {
  width: calc(100% - 300px);
}
.grid-row .grid-col-fix-220 {
  width: 220px;
}
.grid-row .grid-col-flow-220 {
  width: calc(100% - 220px);
}
@media screen and (max-width: 1550px) {
  .grid-row {
    width: 1200px;
  }
}
@media screen and (max-width: 1250px) {
  .grid-row {
    width: 900px;
  }
}
@media screen and (max-width: 950px) {
  .grid-row {
    width: 600px;
  }
  .grid-row .grid-box-2,
  .grid-row .grid-col-1-3,
  .grid-row .grid-col-2-3,
  .grid-row .grid-col-fix-300,
  .grid-row .grid-col-flow-300,
  .grid-row .grid-col-fix-220,
  .grid-row .grid-col-flow-220 {
    width: 100%;
    float: none !important;
    clear: both;
  }
}
@media screen and (max-width: 650px) {
  .grid-row {
    width: 100%;
  }
  .grid-row .grid-box {
    width: 100%;
    float: none !important;
    clear: both;
  }
}
/**
 * 文章模块
 */
.article {
  padding: 20px;
  font-size: 14px;
  font-family: "Microsoft Yahei";
}
.article img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-weight: normal;
  margin: 1.8em 0 0;
}
.article h1 {
  font-size: 2em;
}
.article h2 {
  font-size: 1.7em;
}
.article h3 {
  font-size: 1.4em;
}
.article h4 {
  font-size: 1.25em;
}
.article h5 {
  font-size: 1.1em;
}
.article h6 {
  font-size: 1em;
}
.article p {
  line-height: 1.8;
  margin: 1em 0;
  font-size: 1em;
  color: #333333;
}
.article blockquote {
  margin: 0 0 1em;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.article ul {
  margin: 1em 0;
  padding-left: 1em;
  list-style: disc;
}
.article ol {
  margin: 1em 0;
  padding-left: 1em;
  list-style: decimal;
}
.article li {
  margin-left: 1em;
  list-style: inherit;
}
.article pre {
  overflow-x: auto;
  font-size: 13px;
  line-height: 1.8;
}
.article code {
  font-family: inherit;
  padding: .2em .4em;
  color: #f70;
  background-color: #eee;
  border-radius: 4px;
}
.article hr {
  height: 1px;
  margin: .6em 0;
  border: none;
  background: #ddd;
}
.article a {
  padding: 0px .5em;
  text-decoration: underline;
}
.article a:hover {
  color: #f70;
  text-decoration: underline;
}
.article *:nth-child(1) {
  margin-top: 1em !important;
}
@font-face {
  font-family: "layIcon";
  src: url("../fonts/layicon-webfont.eot?v=2");
  src: url("../fonts/layicon-webfont.eot?v=2#iefix") format("embedded-opentype"), url('../fonts/layicon-webfont.woff?v=2') format('woff'), url("../fonts/layicon-webfont.ttf?v=2") format("truetype"), url("../fonts/layicon-webfont.svg?v=2#layicon-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
.layIcon {
  font-family: "layIcon";
  font-style: normal;
}
.l-icon {
  font-family: "layIcon";
  font-style: normal;
}
.l-icon-circle:after {
  content: '\0044';
}
.l-icon-book:after {
  content: '\0045';
}
.l-icon-code:after {
  content: '\0046';
}
.l-icon-beaker:after {
  content: '\0047';
}
.l-icon-share:after {
  content: '\0048';
}
.l-icon-layLogo:after {
  content: '\0049';
}
.l-icon-weibo:after {
  content: '\004a';
}
.l-icon-qq:after {
  content: '\004b';
}
.l-icon-qzone:after {
  content: '\004c';
}
.l-icon-git:after {
  content: '\0054';
}
.l-icon-face:after {
  content: '\0055';
}
.l-icon-back:after {
  content: '\005a';
}
.l-icon-setting:after {
  content: '\0060';
}
.l-icon-person:after {
  content: '\0064';
}
.l-icon-zhihu:after {
  content: '\0069';
}
.l-icon-dribbble:after {
  content: '\006a';
}
.l-icon-link:after {
  content: '\006b';
}
body {
  background: #222;
}
.Jumbotron {
  position: relative;
  height: 300px;
  background: #64cccb;
  background-image: -moz-linear-gradient(top, #336799, #64cccb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #336799), color-stop(1, #64cccb));
  font-size: 14px;
}
.Jumbotron .mask {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
}
.Jumbotron h1 {
  padding: 1.5em 0 0;
  font-size: 3em;
  color: #fff;
}
.Jumbotron p {
  opacity: .6;
  font-size: 1.8em;
  color: #fff;
}
.myFriends {
  padding: 20px 0;
  font-family: "Microsoft Yahei";
}
.myFriends h3 {
  margin-bottom: 1em;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}
.myFriends .guy-item {
  height: 70px;
  padding: 20px 10px;
  margin-bottom: 20px;
  background: #fff;
  transition: all ease .3s;
}
.myFriends .guy-item:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.1);
}
.tongji {
  height: 0;
  line-height: 0;
  overflow: hidden;
}
