@charset "UTF-8";
@import "less/_core.less";
@import "less/_reset.less";
@import "less/_grid.less";
@import "less/_article.less";
@import "less/_fontface.less";
body{
    background: #ccc;
}
.Jumbotron{
    position: relative;
    height: 340px;
    background: #64cccb;
    background-image: -moz-linear-gradient(top, #336799, #64cccb);
    background-image: -webkit-gradient(linear, left top, left bottom,color-stop(0, #336799), color-stop(1, #64cccb));
	font-size: 14px;
    .mask{
        position: absolute;
        width: 100%;
        height: 50px;
        left: 0;
        bottom: 0;
    }
	h1{
		padding: 2em 0 0;
		font-size:3em;
		color: #fff;
	}
	p{
		opacity: .6;
		font-size: 1.8em;
		color: #fff;
	}
}
.myFriends{
	padding: 20px 0;
	h3{
		margin-bottom: 15px;
	}
	.guy-item{
		padding: 20px 10px;
		margin-bottom: 20px;
		background: #fff;
	}
}
.tongji{
	height: 0;
	line-height: 0;
	overflow: hidden;
}
