@charset "UTF-8";
/**
 * 定义Minxin
 **/
.l-row {
  width: 1200px;
  margin: auto;
  zoom: 1;
}
.l-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.l-row .l-col-1,
.l-row .l-col-2,
.l-row .l-col-4,
.l-row .l-col-6,
.l-row .l-col-8,
.l-row .l-col-12 {
  float: left;
  position: relative;
  padding: 0px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.l-row .l-col-1 {
  width: 8.33333%;
}
.l-row .l-col-2 {
  width: 16.66667%;
}
.l-row .l-col-4 {
  width: 33.33333%;
}
.l-row .l-col-6 {
  width: 50%;
}
.l-row .l-col-8 {
  width: 66.66667%;
}
.l-row .l-col-12 {
  width: 100%;
  float: none;
}
@media screen and (max-width: 1300px) {
  .l-row {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  .l-row {
    width: 100%;
  }
  .l-row .l-col-1,
  .l-row .l-col-2,
  .l-row .l-col-4,
  .l-row .l-col-6,
  .l-row .l-col-8 {
    width: 100%;
    float: none;
  }
}
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
img {
  border: none;
}
ul,
ol,
li,
form,
dl {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #f70;
}
TD {
  color: #777;
  font-size: 12px;
  padding: 10px;
}
.fix {
  display: inline-block;
  zoom: 1;
}
.fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
html,
body {
  position: relative;
  min-width: 320px;
  color: #333;
  font-size: 14px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial;
}
@font-face {
  font-family: "layIcon";
  src: url("../fonts/layicon-webfont.eot");
  src: url("../fonts/layicon-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/layicon-webfont.woff") format("woff"), url("../fonts/layicon-webfont.ttf") format("truetype"), url("../fonts/layicon-webfont.svg#layIcon-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
.layIcon {
  font-family: "layIcon";
  font-style: normal;
}
.l-icon {
  font-family: "layIcon";
  font-style: normal;
}
.l-icon-circle:after {
  content: '\0044';
}
.l-icon-book:after {
  content: '\0045';
}
.l-icon-code:after {
  content: '\0046';
}
.l-icon-beaker:after {
  content: '\0047';
}
.l-icon-share:after {
  content: '\0048';
}
.l-icon-layLogo:after {
  content: '\0049';
}
.l-icon-face:after {
  content: '\0055';
}
.l-icon-setting:after {
  content: '\0060';
}
.l-icon-back:after {
  content: '\005a';
}
.piclist {
  width: 488px;
  margin: 20px auto;
  border: 1px solid #aaa;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.piclist img {
  width: 100px;
  cursor: pointer;
  height: 80px;
  display: inline;
  float: left;
  background-color: #aaa;
  margin: 10px;
  border: 1px solid #aaa;
  line-height: 80px;
  text-align: center;
}
/**
 * 文章模块
 */
.article {
  padding: 20px;
  font-size: 14px;
  font-family: "Microsoft Yahei";
}
.article img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  font-weight: normal;
  margin: 1.8em 0 0;
}
.article h1 {
  font-size: 2em;
}
.article h2 {
  font-size: 1.7em;
}
.article h3 {
  font-size: 1.4em;
}
.article h4 {
  font-size: 1.25em;
}
.article h5 {
  font-size: 1.1em;
}
.article h6 {
  font-size: 1em;
}
.article p {
  line-height: 1.8;
  margin: 1em 0;
  font-size: 1em;
  color: #333333;
}
.article ul {
  margin: 1em 0;
  padding-left: 1em;
  list-style-type: disc;
}
.article ul li {
  margin-left: 1em;
  list-style-type: disc;
}
.article ol {
  margin: 1em 0;
  padding-left: 1em;
  list-style-type: decimal;
}
.article ol li {
  margin-left: 1em;
  list-style-type: decimal;
}
.article pre {
  overflow-x: auto;
  font-size: 13px;
  line-height: 1.8;
}
.article code {
  font-family: inherit;
  padding: 2px 4px;
  color: #099E03;
  background-color: #F2F9F3;
  border-radius: 4px;
}
.article a {
  color: #333;
  padding: 0px 0.5em;
  text-decoration: underline;
}
.article a:hover {
  color: #000;
  background: #f2f2f2;
  text-decoration: underline;
}
.article *:nth-child(1) {
  margin-top: 1em !important;
}
/*定制的loading动画*/
.l-loading-panel {
  max-width: 360px;
  margin: 200px auto 0;
  padding: 40px 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.l-loading-panel p {
  padding: 20px 0 0;
  text-align: center;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
.l-loading {
  position: relative;
  display: block;
  margin: auto;
  height: 50px;
  width: 50px;
  border: 1px solid #555;
  border-radius: 50%;
  animation: rond 2s infinite;
  -webkit-animation: rond 2s infinite;
}
.l-loading:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  top: -4px;
  left: 21px;
  background: #555;
  border-radius: 100%;
}
@keyframes rond {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rond {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/** 提示信息 **/
.l_alert_info {
  border: 1px solid #bce8f1;
  background: #d9edf7;
  color: #31708f;
  padding: 15px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}
/**
 * 代码高亮
 */
.hljs code {
  display: block;
  max-height: 200px;
  padding: 0.5em;
  color: #ddd;
  border: none;
  margin: 0;
  border-radius: 0;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background: #333;
  overflow: auto;
}
.profile .hljs-header *,
.ini .hljs-title,
.nginx .hljs-title {
  color: #ffffff;
}
.hljs-comment {
  color: #666;
}
.hljs-string,
.hljs-symbol,
.diff .hljs-change,
.hljs-regexp,
.xml .hljs-attribute,
.smalltalk .hljs-char,
.xml .hljs-value,
.ini .hljs-value,
.clojure .hljs-attribute,
.coffeescript .hljs-attribute {
  color: #a0c874;
}
.hljs-number {
  color: #66dd00;
}
.hljs-built_in,
.hljs-literal,
.vhdl .hljs-typename,
.go .hljs-constant,
.go .hljs-typename,
.ini .hljs-keyword,
.lua .hljs-title,
.perl .hljs-variable,
.php .hljs-variable,
.mel .hljs-variable,
.django .hljs-variable,
.css .funtion,
.smalltalk .method,
.hljs-hexcolor,
.hljs-important,
.hljs-flow,
.hljs-inheritance,
.parser3 .hljs-variable {
  color: #59B524;
}
.hljs-keyword {
  color: #888;
  font-weight: bold;
}
.hljs-title,
.ruby .hljs-constant,
.vala .hljs-constant,
.hljs-parent,
.hljs-deletion,
.hljs-template_tag,
.css .hljs-keyword,
.objectivec .hljs-class .hljs-id,
.smalltalk .hljs-class,
.lisp .hljs-keyword,
.apache .hljs-tag,
.nginx .hljs-variable,
.hljs-envvar,
.bash .hljs-variable,
.go .hljs-built_in,
.vbscript .hljs-built_in,
.lua .hljs-built_in,
.rsl .hljs-built_in,
.tail,
.avrasm .hljs-label,
.tex .hljs-formula,
.tex .hljs-formula * {
  color: #a0c874;
}
.hljs-yardoctag,
.hljs-phpdoc,
.profile .hljs-header,
.ini .hljs-title,
.apache .hljs-tag,
.parser3 .hljs-title {
  font-weight: bold;
}
.hljs-params {
  color: #666666;
}
.github-link {
  position: fixed;
  z-index: 4000;
  display: block;
  left: 40px;
  bottom: 0px;
  width: 60px;
  height: 60px;
  background: url(../images/github-left.png) top right;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.github-link:hover {
  width: 70px;
  height: 70px;
}
@media screen and (max-width: 660px) {
  .github-link {
    left: 0px;
  }
}
.UI-plugin-iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}
.l-mini-nav {
  height: 24px;
  line-height: 24px;
  background: #f5f5f5;
}
.l-mini-nav a {
  font-size: 12px;
  color: #666;
}
.l-mini-nav a:hover {
  text-decoration: underline;
  color: #333;
}
/**
 * 卡片类
 */
.cardShadow {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
/**
 * CSS3动画
 *
 */
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
  }
}
@-moz-keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-2000px);
  }
}
@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}
@-moz-keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}
@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}
@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes zoomin {
  0% {
    -moz-transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
}
@-moz-keyframes bounceOut {
  0% {
    -moz-transform: scale(1);
  }
  25% {
    -moz-transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -moz-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }
}
.zoomin {
  overflow: hidden;
  animation: zoomin 0.5s;
  -moz-animation: zoomin 0.5s;
  -webkit-animation: zoomin 0.5s;
  -o-animation: zoomin 0.5s;
}
.zoomout {
  transform: scale(0.1);
  -moz-transform: scale(0.1);
  -webkit-transform: scale(0.1);
  -o-transform: scale(0.1);
  opacity: 0;
  overflow: hidden;
  transition: 0.7s;
}
.fadeInLeft {
  -webkit-animation: fadeInLeft 0.5s ease both;
  -moz-animation: fadeInLeft 0.5s ease both;
}
.fadeInLeftBig {
  -webkit-animation: fadeInLeftBig 1s .2s ease both;
  -moz-animation: fadeInLeftBig 1s 0.2s ease both;
}
.fadeOutLeft {
  -webkit-animation: fadeOutLeft 1s .2s ease both;
  -moz-animation: fadeOutLeft 1s .2s ease both;
}
.fadeOutRight {
  -webkit-animation: fadeOutRight 0.5s ease both;
  -moz-animation: fadeOutRight 0.5s ease both;
}
.bounceOut {
  -webkit-animation: bounceOut 1s .2s ease both;
  -moz-animation: bounceOut 1s .2s ease both;
}
/**
 * 导航
 */
.app_nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 4000;
}
.nav_body {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.nav {
  padding-top: 40px;
}
.nav li {
  margin-bottom: 10px;
}
.nav li a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  outline: none;
  color: #333;
  text-align: center;
  overflow: hidden;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.nav li a i {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 18px;
}
.nav li:hover {
  background: #eee;
}
.nav li.cur {
  background: #f70;
}
.nav li.cur a {
  color: #ffffff;
}
.nav_tips {
  position: relative;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 30px 0 20px;
  border-radius: 2px;
  background: #333;
  color: #fff;
}
.nav_tips:before {
  content: '◆';
  position: absolute;
  diaplay: block;
  top: 10px;
  left: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  color: #333;
}
.navLink {
  overflow: hidden;
  display: none;
}
.navLink li {
  height: 20px;
  float: left;
  padding: 10px;
}
.navLink li a {
  line-height: 20px;
  padding: 0px 5px;
  font-size: 12px;
}
.nav_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0 20px;
}
.nav_bottom a {
  display: block;
  width: 40px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  font-size: 22px;
  color: #aaa;
}
.nav_mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}
.nav-back {
  position: absolute;
  display: block;
  height: 40px;
  top: 10px;
  left: 50px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  background: #fff;
  border-radius: 0 4px 4px 0;
  white-space: nowrap;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.nav-back i {
  font-size: 22px;
  margin-right: 5px;
}
.nav-back:hover {
  top: 9px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}
.nav_appname {
  display: none;
}
.nav_moreBtn {
  display: none;
}
.app_container {
  margin-left: 50px;
}
@media screen and (max-width: 660px) {
  .app_container {
    margin-left: 0;
  }
  .nav_bottom {
    position: static;
  }
  .app_container {
    padding-top: 50px;
  }
  .app_nav {
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 0 4px #000;
  }
  .nav_appname {
    display: block;
    position: absolute;
    left: 50%;
    width: 6em;
    height: 50px;
    margin-left: -3em;
    line-height: 50px;
    font-size: 20px;
  }
  .nav_body {
    width: 100%;
    height: auto;
    top: -300px;
    left: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
  }
  .nav_body .nav {
    padding-top: 0;
  }
  .nav_body .nav li {
    margin-bottom: 0;
  }
  .nav_body .nav a:after {
    display: inline-block;
    width: 10em;
    content: attr(data-title);
    padding-left: 5px;
    font-size: 14px;
    text-align: left;
  }
  .nav-back {
    top: 5px;
    left: 10px;
    border-radius: 4px;
    box-shadow: none;
  }
  .nav-back:hover {
    top: 5px;
    box-shadow: none;
  }
  .nav_moreBtn {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 10px;
    background: #fff;
    z-index: 3;
  }
  .nav_Btn_ico {
    display: block;
    position: absolute;
    width: 22px;
    height: 4px;
    left: 9px;
    border-radius: 4px;
    background: #333;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  .nav_Btn_ico_1 {
    top: 10px;
  }
  .nav_Btn_ico_2 {
    top: 18px;
  }
  .nav_Btn_ico_3 {
    top: 26px;
  }
  .nav_slidedown .nav_body {
    top: 50px;
    opacity: 1;
  }
  .nav_slidedown .nav_mask {
    display: block;
    background: rgba(255, 255, 255, 0.4);
  }
  .nav_slidedown .nav_Btn_ico_1 {
    transform: translate(0, 8px) rotate(-45deg);
    -moz-transform: translate(0, 8px) rotate(-45deg);
    -webkit-transform: translate(0, 8px) rotate(-45deg);
    -o-transform: translate(0, 8px) rotate(-45deg);
  }
  .nav_slidedown .nav_Btn_ico_2 {
    opacity: 0;
    transform: translate(10px, 0);
    -moz-transform: translate(10px, 0);
    -webkit-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
  }
  .nav_slidedown .nav_Btn_ico_3 {
    transform: translate(0, -8px) rotate(45deg);
    -moz-transform: translate(0, -8px) rotate(45deg);
    -webkit-transform: translate(0, -8px) rotate(45deg);
    -o-transform: translate(0, -8px) rotate(45deg);
  }
}
/**分页组件**/
.pagination li {
  display: inline-block;
  vertical-align: text-top;
}
.pagination span,
.pagination a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0px 15px;
  background: #fff;
  font-size: 14px;
  color: #428bca;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.pagination a:hover {
  background: #eee;
  color: #333;
}
.pagination .active span {
  background: #428bca;
  color: #fff;
  font-size: 22px;
  cursor: default;
}
.pagination .disabled span {
  color: #bbb;
  cursor: default;
}
@media (max-width: 660px) {
  .pagination {
    text-align: center;
  }
  .pagination li {
    display: none;
  }
  .pagination .pagination_prev,
  .pagination .pagination_next {
    display: inline-block;
    border-radius: 20px;
    margin: 0px 10px;
    overflow: hidden;
  }
}
/**
 * 评论模块
 *
 **/
.l_com_sendBox {
  margin-bottom: 20px;
}
.l_sendBox {
  padding: 20px 20px 20px 80px;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.l_send_side {
  position: absolute;
  top: 20px;
  left: 0;
  width: 80px;
}
.l_send_avatar {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  background: #aaa;
}
.l_send_avatar img {
  display: block;
  width: 100%;
  height: 100%;
}
.l_send_username {
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.l_send_username:hover {
  color: #f60;
}
.l_sendBox_main {
  position: relative;
  z-index: 1;
}
.l_send_textarea {
  border: 1px solid #ddd;
  position: relative;
}
.l_send_textarea:before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  top: 14px;
  left: -7px;
  border: 1px solid #ddd;
  border-width: 0 0 1px 1px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.l_send_textarea textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 80px;
  padding: 4px 10px;
  margin: 0px;
  border: none;
  resize: none;
  font-family: inherit;
  line-height: 24px;
  font-size: 16px;
  color: #333;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.l_send_textarea textarea:focus {
  outline: none;
}
.l_send_placeholder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  line-height: 80px;
  text-indent: 1em;
  font-size: 18px;
  color: #888;
  cursor: text;
  background: #fff;
}
.l_send_footer {
  position: relative;
  height: 0px;
  padding: 0;
  overflow: hidden;
  background: #fff;
  opacity: 0;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.l_send_footer_left {
  float: left;
}
.l_send_footer_right {
  float: right;
}
.l_send_face {
  display: block;
  float: left;
  padding: 0px 5px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  color: #bbb;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.l_send_face:hover {
  color: #f70;
}
.l_send_count {
  display: block;
  float: left;
  line-height: 30px;
  padding: 0 10px;
  display: none;
}
.l_send_count b {
  font-size: 14px;
  color: #aaa;
  font-weight: normal;
}
.l_send_count i {
  font-style: normal;
  font-size: 16px;
  color: #ddd;
}
.l_send_count span {
  font-size: 12px;
  color: #ccc;
}
.l_send_submit {
  display: inline-block;
  padding: 0px 20px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background: #f90;
  border-radius: 2px;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}
.l_send_submit:hover {
  color: #fff;
  background: #f70;
  text-decoration: none;
}
@keyframes placeholderClose {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@-moz-keyframes placeholderClose {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@-webkit-keyframes placeholderClose {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
/*聚焦状态*/
.l_sendBox_active .l_send_footer {
  height: 30px;
  padding-top: 10px;
  opacity: 1;
}
.l_sendBox_active .l_send_textarea,
.l_sendBox_active .l_send_textarea:before {
  border-color: #fa0;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.l_sendBox_active .l_send_placeholder {
  animation: placeholderClose 0.2s forwards;
  -moz-animation: placeholderClose 0.2s forwards;
  -webkit-animation: placeholderClose 0.2s forwards;
  -o-animation: placeholderClose 0.2s forwards;
}
.l_sendBox_user {
  overflow: hidden;
}
.l_sendBox_user p {
  margin-top: -1px;
  border-top: 1px solid #ccc;
}
.l_sendBox_user input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  line-height: 15px;
  border: none;
  font-size: 16px;
  font-family: inherit;
  color: #333;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.l_sendBox_user input:focus {
  outline: none;
  background: #f4f4f4;
}
@keyframes insert {
  0% {
    opacity: 0.2;
    height: 0;
  }
  50% {
    opacity: 0.2;
    height: 110px;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes insert {
  0% {
    opacity: 0.2;
    height: 0;
  }
  50% {
    opacity: 0.2;
    height: 110px;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes insert {
  0% {
    opacity: 0.2;
    height: 0;
  }
  50% {
    opacity: 0.2;
    height: 110px;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes insert {
  0% {
    opacity: 0.2;
    height: 0;
  }
  50% {
    opacity: 0.2;
    height: 110px;
  }
  100% {
    opacity: 1;
  }
}
/** list **/
.l_com_list_cnt {
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.l_com_list_pagination {
  padding-top: 20px;
}
.l_com_list_noData {
  padding: 30px 20px;
  line-height: 20px;
  font-size: 18px;
  color: #666;
}
.l_com_item {
  position: relative;
  border-top: 1px solid #eee;
  transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  cursor: default;
  overflow: hidden;
}
.l_com_item:nth-child(1) {
  border: none;
}
.l_com_item:hover {
  background: #eee;
}
.l_com_item_ani-insert {
  animation: insert 2s;
  -moz-animation: insert 2s;
  -webkit-animation: insert 2s;
  -o-animation: insert 2s;
}
.l_com_item_main {
  position: relative;
  margin-left: 60px;
  padding: 15px;
}
.l_com_item_caption {
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 16px;
}
.l_com_item_content {
  min-height: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  word-break: break-all;
}
.l_com_item_time {
  color: #aaa;
  font-size: 12px;
}
.l_com_item_avatar {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #333;
  border-radius: 100%;
}
.l_com_item_avatar img {
  width: 100%;
  height: 100%;
}
/** 首页 **/
.indeCnt {
  width: 600px;
  margin: auto;
  padding-top: 100px;
}
.index_intro {
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.index_intro_cpt {
  padding: 20px 0px;
  background: url(../images/mask.png) #555555;
  color: #fff;
}
.index_intro_logo {
  font-size: 120px;
  line-height: 120px;
  margin-bottom: 10px;
}
.index_intro_a {
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 20px;
  margin-bottom: 10px;
}
.index_intro_cnt {
  padding: 20px;
}
.index_intro_b {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  color: #666666;
}
.index_intro_c {
  color: #333;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.index_intro_d {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #aaaaaa;
}
.some_link {
  margin-bottom: 20px;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
}
.some_link a {
  display: block;
  float: left;
  width: 33.33%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.webLink {
  display: table;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.webLink_cpt {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
  line-height: 50px;
  padding: 0px 10px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.webLink_cnt {
  display: table-cell;
  width: 90%;
  overflow: hidden;
}
.webLink_cnt a {
  display: block;
  width: 50%;
  float: left;
  margin-top: -1px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.webLink_cnt a:hover {
  background: #f6f6f6;
}
@media screen and (max-width: 680px) {
  .indeCnt {
    width: auto;
    margin: 0px 10px;
  }
  .webLink,
  .webLink_cpt,
  .webLink_cnt {
    display: block;
    width: auto;
  }
  .webLink_cnt a {
    margin: 0px;
  }
  .webLink_cnt a:nth-of-type(odd) {
    border-left: none;
  }
}
/** 博文列表页 **/
.articleListPage {
  width: 620px;
  margin: auto;
  padding: 20px 0;
}
.articleListPage:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.articleListPage-side {
  width: 200px;
  float: left;
}
.articleListPage-tags {
  position: fixed;
  width: 200px;
  min-height: 100px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.articleListPage-tags .caption {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  line-height: 20px;
  padding: 9px 20px;
  border-bottom: 1px solid #f4f4f4;
}
.articleListPage-tags .content {
  padding: 20px 0px 10px 10px;
}
.articleListPage-tags a {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: 24px;
  margin: 0 15px 10px 0;
  line-height: 24px;
  padding: 0 10px 0 20px;
  border-radius: 0 4px 4px 0;
  background: #ddd;
  font-size: 12px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.articleListPage-tags a span {
  opacity: .5;
  padding: 0 0 0 5px;
}
.articleListPage-tags a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-width: 12px 12px 12px 0;
  border-color: #fff transparent #fff transparent;
  border-style: solid;
}
.articleListPage-tags a:after {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  top: 10px;
  left: 8px;
  border-radius: 100%;
  background: #fff;
}
.articleListPage-tags a:hover {
  background: #333;
  color: #fff;
}
.articleListPage-tags a.active {
  background: #f70;
  color: #fff;
}
.articleListPage-main {
  width: 400px;
  float: right;
}
.articleList .l-loading-panel {
  margin-top: 0;
}
.articleItem {
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.artItCpt a {
  display: block;
  padding: 1em 1em .2em;
  font-weight: normal;
  line-height: 1.5em;
  text-align: center;
  font-size: 18px;
  color: #333;
  outline: none;
}
.artItCpt a:hover {
  color: #000;
  text-decoration: underline;
}
.artItPic a {
  display: block;
}
.artItPic img {
  display: block;
  background: #eee;
  max-width: 100%;
  margin: auto;
}
.artItInfo {
  padding: 10px 20px;
  line-height: 150%;
  font-size: 12px;
  color: #888;
  text-indent: 2em;
}
.artItTime {
  color: #aaa;
  font-size: 14px;
  padding: 10px 20px 20px;
}
.blogDetail {
  max-width: 700px;
  margin: auto;
  padding: 60px 10px 40px;
}
.blog_article {
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.article_cover {
  text-align: center;
}
.articletop {
  border-bottom: 1px dashed #ccc;
  text-align: center;
  padding: 40px 20px 20px;
  margin-bottom: 20px;
}
.articletop h1 {
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 1em;
}
.articletop p {
  color: #666666;
}
.article .topicImg {
  display: block;
  margin: auto;
}
@media (max-width: 780px) {
  .articleListPage {
    width: auto;
    padding: 20px 10px;
  }
  .articleListPage-side,
  .articleListPage-main {
    float: none;
    width: auto;
    max-width: 400px;
    margin: auto;
  }
  .articleListPage-tags {
    position: static;
    width: auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .articletop h1 {
    font-size: 24px;
  }
}
.labshow {
  border: 1px solid #ddd;
  line-height: 3em;
  margin: 2em 4em;
}
.labshow span {
  background: #eee;
  display: inline-block;
  height: 100%;
  padding: 0em 2em;
}
.labshow a {
  border-bottom: 1px dashed #ccc;
  margin-left: 4em;
}
/** 我的作品 **/
.opusList {
  max-width: 700px;
  margin: auto;
  padding: 20px 10px;
}
.opusList ul {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.opusList ul li {
  position: relative;
  padding: 10px 10px 10px 120px;
  overflow: hidden;
  margin-bottom: -1px;
  border-bottom: 1px solid #ddd;
}
.opus_cover {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background: #aaa;
}
.opus_cover img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0px auto;
}
.opus_info {
  position: relative;
}
.opus_info h3 {
  height: 30px;
  line-height: 30px;
  position: relative;
  margin-bottom: 8px;
}
.opus_info h3 a {
  display: block;
  width: 260px;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
.opus_info h3 a:hover {
  color: #333;
  text-decoration: underline;
}
.opus_info p {
  line-height: 18px;
  padding: 6px 0;
}
.opus_info p strong {
  display: block;
  height: 30px;
  float: left;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}
.opus_info p span {
  display: inline-block;
  padding: 0px 4px;
  font-size: 14px;
  color: #888888;
}
.opus_info p a {
  display: block;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888;
}
.opus_info p a:hover {
  color: #333;
  text-decoration: underline;
}
.opus_detail {
  max-width: 700px;
  margin: auto;
  padding: 60px 10px 40px;
}
.opus_detail .article {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.opus_caption {
  position: relative;
  min-height: 120px;
  overflow: hidden;
  border: 1px solid #fff;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}
.opus_caption img {
  height: 100px;
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.opus_caption .info {
  position: relative;
  padding: 15px 15px 15px 130px;
}
.opus_caption h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
  font-size: 20px;
  letter-spacing: 0.5em;
  font-weight: normal;
  color: #000000;
}
.opus_caption ul {
  font-size: 16px;
  padding-top: 20px;
}
.opus_caption li {
  float: left;
  width: 50%;
  color: #666666;
}
.opus_caption strong {
  padding-right: 10px;
  font-weight: normal;
}
.TagLine {
  height: 50px;
  margin-bottom: 20px;
  background: url(../images/tagline.png) no-repeat;
  text-indent: -100em;
  overflow: hidden;
}
/**实验室列表**/
.labsList {
  width: 1080px;
  margin: auto;
  padding: 40px 10px;
  overflow: hidden;
}
.lab_item {
  position: relative;
  width: 320px;
  height: 360px;
  float: left;
  margin: 0 20px 40px;
  background: #fff;
  overflow: hidden;
}
.lab_item .lab_cover {
  display: block;
  margin: 0px auto;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.lab_item .lab_cover img {
  display: block;
  height: 240px;
  margin: auto;
  max-width: 100%;
}
.lab_item .lab_cover:hover {
  opacity: 0.8;
}
.lab_item .lab_title {
  padding: 10px;
  line-height: 30px;
  font-weight: normal;
  color: #333;
  font-size: 20px;
  text-align: center;
}
.lab_item .lab_title a {
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.lab_item .lab_title a:hover {
  text-decoration: underline;
  color: #000000;
}
.lab_item .lab_info {
  padding: 10px 10px 20px;
}
.lab_item .lab_info p {
  color: #333;
  font-size: 12px;
  opacity: 0.7;
  line-height: 16px;
  text-indent: 2em;
  text-align: justify;
}
@media (max-width: 1200px) {
  .labsList {
    width: 720px;
  }
}
@media (max-width: 780px) {
  .labsList {
    width: auto;
  }
  .lab_item {
    float: none;
    width: 360;
    margin: 0 auto 20px;
  }
  .lab_item .lab_cover img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 380px) {
  .lab_item {
    width: auto;
    height: auto;
  }
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background: url("../images/mask.png") #eeeeee;
}
a,
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
/**应用主容器**/
.app_container {
  position: relative;
}
.app_mask {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: 5000;
}
.app_mask_cnt {
  display: table-cell;
  vertical-align: middle;
}
.app_mask_cnt p {
  padding-top: 20px;
  font-size: 18px;
  color: #333;
  text-align: center;
}
.backToOldVersion {
  display: block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #555;
  transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.backToOldVersion:hover {
  color: #000;
}
.tongji {
  width: 0px;
  height: 0px;
  overflow: hidden;
}
.gallayer {
  position: fixed;
  z-index: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #eeeeee;
}
.galBj {
  position: absolute;
  z-index: 11;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
.galMask {
  position: absolute;
  z-index: 12;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-indent: -100em;
  background: url("../images/mask.png");
}
.galBj_mask {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-mask-image: url("../images/mask_bj.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: 300%;
  -webkit-animation: circle_zoom 1s;
}
@-webkit-keyframes circle_zoom {
  0% {
    opacity: 0;
    -webkit-mask-size: 30%;
    -webkit-animation-timing-function: ease-in;
  }
  80% {
    opacity: 1;
    -webkit-mask-size: 60%;
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    opacity: 1;
    -webkit-mask-size: 300%;
  }
}
/**用户登录框**/
.l_loginPanel {
  position: relative;
  overflow: hidden;
}
.l_loginPanel_tabs {
  position: relative;
  width: 100px;
  overflow: hidden;
}
.l_loginPanel_tabs a {
  display: block;
  height: 39px;
  margin-top: -1px;
  line-height: 39px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.l_loginPanel_tabs a:hover {
  background: #fafafa;
}
.l_loginPanel_cnts {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0px;
  right: 0px;
  overflow: hidden;
  background: #777;
}
.l_loginPanel_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.l_loginPanel_github,
.l_loginPanel_sina {
  line-height: 150px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.l_loginPanel_account,
.l_loginPanel_define {
  padding: 30px 50px 0px;
  overflow: hidden;
}
.l_loginPanel_account input,
.l_loginPanel_define input {
  display: bock;
  width: 100%;
  height: 24px;
  margin-bottom: 10px;
  border: none;
  line-height: 24px;
  font-family: inherit;
  text-indent: 1em;
  color: #aaa;
}
.l_loginPanel_account input:focus,
.l_loginPanel_define input:focus {
  background: #f4f4f4;
  outline: none;
  color: #333;
}
.l_loginPanel_arrow {
  position: absolute;
  top: -40px;
  left: 80px;
  width: 40px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 35px;
  color: #777;
  border-radius: 13px;
  transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.blank-content {
  padding: 100px 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.blank-content p {
  position: relative;
  width: 120px;
  height: 60px;
  padding-top: 60px;
  margin: auto;
  border: 1px solid #aaa;
  border-radius: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #333;
}
.blank-content p:before {
  content: '！';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 50px;
  color: #f70;
  z-index: 0;
}
/**
 * 留言板
 *
 */
.blessPage {
  padding-top: 20px;
}
