<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>小剧客栈_剧中人的个人博客 网页设计师博客 前端工程师博客 互动设计学习者</title>
	<meta name="keywords" content="剧中人,小剧客栈,bh_lay,前端工程师,设计师,nodeJS" />
	<meta name="description" content="小剧客栈是剧中人在成长路上的一个缩影，也希望借此结交更多前辈好友。分享小剧在前端、nodeJS、设计和web的各个细节上的点点滴滴，愿与你共同分享，一起进步！" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<base target="_blank">
	<link href="/favicon.ico" rel="shortcut icon" />
	<link rel="apple-touch-icon" href="/touch-icon-iphone.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-ipad.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-iphone-retina.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/touch-icon-ipad-retina.png" />
	<style>html{overflow:hidden scroll}.app-mask{z-index:1000000;background:#f0f3f4;justify-content:center;align-items:center;width:100%;height:100%;display:flex;position:fixed;top:0;left:0}.app-mask div{text-align:center;color:#fff;background:#394146;padding:10px 20px;font-size:12px}.app-mask span{color:#8f9aa3;font-size:12px;display:block}.app-mask strong{color:#e2e6e9;font-size:15px}.app-mask.hide{opacity:0;visibility:hidden;transition:all .45s ease-in-out .5s}.app-mask.hide div{opacity:0;transition:all .15s ease-in-out;transform:scale(.6)}</style>
  <script type="module" crossorigin src="//static.bh-lay.com/build/single-page-vue/assets/index-B8jqtEKy.js"></script>
  <link rel="stylesheet" crossorigin href="//static.bh-lay.com/build/single-page-vue/assets/index-CXwaRKXs.css">
</head>
<body>
	<div id="app"></div>
	<div class="app-mask">
		<div>
			<span>正在进入</span>
			<strong>小剧客栈</strong>
		</div>
	</div>
	<script type="text/javascript">
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?0f6bfc1dac208f86e5effd5f2d59027d";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</body>

</html>