.full-width(){
    width: 100%;
    float: none !important;
}

.grid-row {
	width: 1260px;
    position: relative;
	margin: auto;
	zoom: 1;
	.transition(.3s,ease-out);
    &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    [class *="grid-box"],
    [class *="grid-col"] {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        .borderbox();
    }
    .grid-box{
        width: 295px;
    }
    .grid-box-2{
        width: 50%;
    }
    .grid-box-full{
        width: 100%;
        float: none;
        clear: both;
    }
    .grid-col-1-3{
        width: 33.3333333%
    }
    .grid-col-2-3{
        width: 66.6666667%
    }
    .grid-col-fix-300{
        width: 300px;
    }
    .grid-col-flow-300{
        width: calc(~"100%" - 300px);
    }
    .grid-col-fix-220{
        width: 220px;
    }
    .grid-col-flow-220{
        width: calc(~"100%" - 220px);
    }
}
@media screen and (max-width: 1300px) {
	.grid-row {
		width: 945px;
	}
}
@media screen and (max-width: 965px) {
	.grid-row{
		width: 630px;
        .grid-box-2{
           .full-width()
        }
        .grid-col-1-3,
        .grid-col-2-3,
        .grid-col-fix-300,
        .grid-col-flow-300,
        .grid-col-fix-220,
        .grid-col-flow-220{
            .full-width()
        }
	}
}
@media screen and (max-width: 650px) {
	.grid-row{
		width: 100%;
		.grid-box{
			.full-width()
		}
    }
}