
/** 首页 **/
.indeCnt {
	section{
	    font-size: 16px;
	}
}
.index-about-blog{
    padding: 10em 0;
	margin-bottom: 20px;
    line-height: 1.8em;
	text-align: center;
	overflow: hidden;
    color: #000;
    .logo {
        font-size: 7em;
        line-height: 1em;
        margin-bottom: .3em;
    }
    .index_intro_a {
        font-size: 2.5em;
        font-weight: normal;
        letter-spacing: .2em;
   		line-height: 1em;
        margin-bottom: 1em;
    }
    .index_intro_b {
   		line-height: 1em;
        font-size: 1em;
		letter-spacing: .2em;
		opacity: .8;
    }
    .index_intro_c {
   		line-height: 2em;
        font-size: 1.5em;
		opacity: .9;
    }
    .index_intro_d {
   		line-height: 1em;
        font-size: 1em;
        margin-bottom: 1em;
		opacity: .6;
    }
}

.index-aboutme{
	padding: 100px;
	background: rgba(255,255,255,.2);
	text-align: center;
	margin-bottom: 2em;
	.avatar{
		width: 150px;
		height: 150px;
		margin: auto;
		border-radius: 100%;
		border: 5px solid #fff;
		background: url(../images/my-avatar.jpg);
	}
}
.webLink {
	max-width: 350px;
	margin: auto;
	background: #fff;
	border-radius: 4px;
	margin-bottom: 20px;
    .caption {
        line-height: 40px;
        padding: 0px 10px;
        margin: auto;
        text-indent: 2em;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
    }
    .content {
        overflow: hidden;
        padding: 20px;
        a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            font-size: 14px;
            text-align: center;
            .transition(0.2s);
        }
    }
}


@media screen and (max-width: 680px) {
	.indeCnt {
		section{
        	font-size: 12px;
    	}
	}
}