
/**实验室列表**/
.labsList {
	padding: 40px 0;
}
.lab_item {
	position: relative;
	max-width: 340px;
	height: 340px;
	margin: 0 auto 20px;
	background: #fff;
	overflow: hidden;
	.cardShadow();
	.cover {
		display: block;
        height: 220px;
		.transition(0.2s);
		overflow: hidden;
		img{
			display: block;
			margin: auto;
			width: 100%;
		}
		&:hover{
			opacity: 0.8
		}
		
	}
	.title {
		padding: 15px 10px 0;
		line-height: 20px;
		font-weight: normal;
		color: #333;
		font-size: 20px;
		text-align: center;
		a {
			.transition(0.2s);
			&:hover {
				text-decoration: underline;
				color: #000
			}
		}
	}
	.info {
		padding: 10px 10px 20px;
		p {
			color: #333;
			font-size: 12px;
			opacity: 0.7;
			line-height: 16px;
			text-indent: 2em;
			text-align: justify
		}
	}
}
@media(max-width:640px){
	.lab_item{
		height: auto;
		.cover{
			height: auto;
			img{
            	width: 100%;
			}
		}
	}
}