.side_card{
    margin-bottom: 20px;
    overflow: hidden;
    .cardShadow();
    .caption{
        line-height: 24px;
        padding: .5em 1em;
        font-weight: bold;
        box-shadow: 0 0 2px #aaa;
    }
    .content{
        padding: 1em 0;
        color: #ccc;
        font-size: 18px;
        text-align: center;
    }
    .sns-share{
        a{
            padding: 0 15px;
            font-size: 30px;
            .transition(.2s);
        }
    }
}
@media screen and (max-width: 965px) {
    .sidebar{
        padding-top: 20px;
    }
}