.side_card{
    margin-bottom: 20px;
    overflow: hidden;
    .cardShadow();
    .caption{
        padding: .5em 1em;
        box-shadow: 0 0 2px #aaa;
        strong,
        span,
        small{
            display: inline-block;
            vertical-align: bottom;
            height: 24px;
            line-height: 24px;
        }
        small{
            padding: 0 .5em;
            opacity: .6;
        }
    }
    .text{
        padding: 1em 0;
        color: #ccc;
        font-size: 18px;
        text-align: center;
    }
}
.side-sns-share{
    .content{
        padding: 1em 0;
        text-align: center;
        a{
            padding: 0 15px;
            font-size: 50px;
            color: #ddd;
            .transition(.15s,ease-out);
            &:hover{
                color: #f70;
            }
        }
    }
}
.side-comments-item{
    display: block;
    padding: 10px;
    border-top: 1px solid #eee;
    &:after{
        content: "";
        display: block;
        clear: both;
        height: 0;
        overflow: hidden;
    }
    .cover{
        float: left;
        img{
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: #333;
        }
    }
    .main{
        float: right;
        width: calc(~"100% - 60px");
        h4{
            font-size: 14px;
            small{
                opacity: .7;
                font-weight: normal;
            }
        }
        p{
            padding: .5em 0 0;
            font-size: 14px;
            color: #888;
            word-break: break-word;
            line-height: 1.4em;
            max-height: 4.2em;
            overflow: hidden;
        }
    }
    .emoji-box{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 1em;
        width: 18px;
    }
    .emoji{
        position: absolute;
        top: -5px;
        left: -4px;
        margin: 0;
        transform: scale(.6);
        -webkit-transform: scale(.6)
    }
    &:hover{
        background: #fafafa;
        color: inherit;
    }
}
@media screen and (max-width: 965px) {
    .sidebar{
        padding-top: 20px;
    }
}