@import url('gallery/style.css?__inline');

 /* Box-sizing resets
 *
 * 为了避免 Bootstrap 设置的全局盒模型所带来的影响，可以重置单个页面元素或覆盖整个区域的盒模型。
 */
/* Option 2A: 通过 CSS 代码重置整个区域 */
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html{min-height:100%; }
body{padding-top:60px;
	font-family: "Microsoft Yahei";
	background : #444;
}
.navbar-default{box-shadow:0px 0px 5px rgba(0,0,0,0.7);background:#fff;border:none;}
.mainCnt{position:relative;min-height:500px;overflow: hidden;}
.mainCnt_body{position:relative;width:100%;}
.custom-footer{background:#333;color:#fff;}
.custom-subFooter{background:#333;color:#fff;}
.custom-mb10{margin-bottom:10px;}
.custom-editor{
  margin: 10px 0;
}
#editor {
  width: 100%;
  min-height: 500px;
}
.pro_loading{
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #fff;
}
tr.disable{
  text-decoration: line-through;
  background: #eee;
}
.commentsList .comm_header {
  line-height: 30px;
  color: #888;
}
.commentsList .comm_header span,
.commentsList .comm_header a{
  padding: 0 1em 0 .5em;
}
.commentsList p{
  padding-top: 1em;
}

.cache-type-list{
  margin-bottom: 10px;
}
.cache-type-list .btn{
  margin-bottom: 5px;
}