.ui-loading-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.4s ease-in-out;

  div {
    position: relative;
    height: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 16px;
  }

  &.ui-loading-layer-hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.lazy-loading {
  transition: 0s !important;
  // object-fit:  none;
  opacity: 0.2;
}

.lazy-loaded-start {
  opacity: 0;
}

.lazy-loaded {
  transition: 1.4s !important;
  opacity: 1;
}

