<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>权限页</title>
<meta name="keywords" content="剧中人,留言,小剧" />
<meta name="description" content="剧中人的沟通交流地" />
<LINK href="/skin/admin/admin.css" rel=stylesheet>
</head>
<body>
	<div class="containter">
		<div class="L_foUCpt mt6">权限管理</div>
		<div class="addArticle">
			<a target="_self" class="add layBtn" href="#">添加权限</a>
		</div>
		<div class="L_tips">
			
		</div>
		<div class="L_powerList"><ul>
			<li>
				<h3>
					<i>1</i><span>登陆后台</span>
				</h3>
				<p>可以登陆后台</p>
			</li>
			<li>
				<h3>
					<i>2</i><span>增加blog</span>
				</h3>
				<p>增加博文</p>
			</li>
			<li>
				<h3>
					<i>3</i><span>修改blog</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>4</i><span>删除blog</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>5</i><span>增加share</span>
				</h3>
				<p>增加博文</p>
			</li>
			<li>
				<h3>
					<i>6</i><span>修改share</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>7</i><span>删除share</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>8</i><span>增加opus</span>
				</h3>
				<p>增加博文</p>
			</li>
			<li>
				<h3>
					<i>9</i><span>修改opus</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>10</i><span>删除opus</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>11</i><span>增加user</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>12</i><span>修改user</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>13</i><span>删除user</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>14</i><span>增加用户组</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>15</i><span>修改用户组</span>
				</h3>
				<p>……</p>
			</li>
			<li>
				<h3>
					<i>16</i><span>删除用户组</span>
				</h3>
				<p>……</p>
			</li>
		</ul></div>
	</div>
</body>
</html>