<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>用户组管理</title>
<meta name="keywords" content="剧中人,留言,小剧" />
<meta name="description" content="剧中人的沟通交流地" />
<LINK href="/skin/admin/admin.css" rel=stylesheet>
</head>
<body>
	<div class="containter">
		<div class="L_foUCpt mt6">用户组管理</div>
		<div class="addArticle">
			<a target="_self" class="add layBtn" href="user.html">添加用户组</a>
		</div>
		<div class="L_userGroupList"><ul>
			用户组列表
		</ul></div>
	</div>
</body>
</html>