<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>用户管理</title>
<meta name="keywords" content="剧中人,留言,小剧" />
<meta name="description" content="剧中人的沟通交流地" />
<LINK href="/skin/admin/admin.css" rel=stylesheet>
</head>
<body>
	<div class="containter">
		<div class="L_foUCpt mt6">增加用户</div>
		<div class="L_formUI">
			<form action="/ajax/user_group" method="post" target="_self"><ul>
				<li class="L_foUItem"><label class="L_foUItTitle">用户组：</label><input type="text" name="user_group_nick" value="{user_group_nick}"/></li>
				<li class="L_foUItem"><label class="L_foUItTitle">用户组名：</label><input type="text" name="user_group_name" value="{user_group_name}" /></li>
				<li class="L_foUItem"><label class="L_foUItTitle">权限：</label><input type="text" name="power" value="{power}" ></li>
				<li class="L_foUItem"><input type="hidden" name="id" value="{id}" /><input type="submit" value="提交" /></li>
			</ul></form>
		</div>
	</div>
</body>
</html>